[2014-03-13 21:41] joefitzgerald opened #1 "Add go build and go test Support"
As originally raised at: https://github.com/atom/language-go/issues/10

[2014-03-13 21:42] joefitzgerald opened #2 "Add Autocomplete Powered By gocode"
As suggested here: https://github.com/atom/language-go/issues/2
- [ ] Manage `gocode` process lifecycle
- [ ] Call `gocode` for the current file
- [ ] Collect suggestions
- [ ] Display suggestions
- [ ] Perform autocomplete

[2014-03-13 21:48] joefitzgerald opened #3 "Aggregate Errors / Warnings From Multiple External Processes Into The Gutter And Error Pane"
When collecting error / warning information from multiple tools, we should avoid duplicating the logic for displaying these for the user, collecting them and displaying them consistently.
- [x] Define Events
- [x] Define Ordering / Sequencing Criteria
- [x] Modify Error Pane
- [x] Modify Gutter

[2014-03-13 21:53] joefitzgerald opened #4 "Enhance Autocomplete"
Dependent on https://github.com/atom/autocomplete/issues/18, or the inclusion of some of the core autocomplete functionality in this plugin.
- [ ] Hope the autocomplete plugin is made more extensible
- [ ] In the meantime, determine how to override it for `.go` source
- [ ] Hook into `gocode` using #2
- [ ] Hook into error / warning aggregation using #3

[2014-03-14 14:01] joeshaw opened #5 "Add go vet support"
Yet another tool to improve Go code quality.

http://godoc.org/code.google.com/p/go.tools/cmd/vet

Output is very similar to gofmt, but it doesn't rewrite your code.

[2014-03-20 00:28] #5 closed, assigned to nobody

[2014-03-20 14:39] joefitzgerald opened #7 "Add go lint Support"
Add support for golint to display warnings (suggested by @darkhelmet).
- [x] Allow GOPATH to be configured in Preferences
- [x] Allow override of GOPATH in preferences by current environment
- [x] Warn when GOPATH is not set in preferences or environment
- [x] Add preferences for `golint` path and the ability to enable / disable its use
- [x] Execute `golint`
- [x] Collect warnings from `golint`
-

[2014-03-20 17:00] joefitzgerald opened #8 "Disabling Format On Save Prevents Go Vet From Working"
... one should work without the other.
- [x] Add test
- [x] Ensure that when `Format On Save` is false, `Vet On Save` works

[2014-03-21 21:58] pzurek opened #9 "go-plus fails to install on Atom 0.75.0"
...with the following error

Installing “go-plus@0.5.2” failed. Less…

[code]

[2014-03-22 04:13] #9 closed, assigned to nobody

[2014-03-26 12:13] #8 closed, assigned to nobody

[2014-04-02 05:15] #1 closed, assigned to joefitzgerald

[2014-04-02 08:37] #7 closed, assigned to nobody

[2014-04-02 10:22] joefitzgerald opened #10 "Dependent Functions That Are In Different Files In The Same Package Show `undefined: <func name>` Error When Syntax Check On Save Is True"
- [x] Create Test To Reproduce
- [x] Make Test Pass

[2014-04-03 07:17] #10 closed, assigned to joefitzgerald

[2014-04-03 16:48] joefitzgerald opened #11 "Add 'Go To Definition' Support"
It would be nice to have a keyboard shortcut / right click menu item / menu item to go to definition for the current cursor position.

[2014-04-03 17:00] joefitzgerald opened #12 "Add 'Go To Documentation' Support Powered By godoc"
Would be nice to view the godoc for the selected item.

[2014-04-03 19:05] joefitzgerald opened #13 "Replace $GOPATH Token In Gofmt Path Preference With Appropriate Value"
This makes the use of goimports easier (`$GOPATH/bin/goimports` vs a fully qualified path). This is already done for golint (https://github.com/joefitzgerald/go-plus/blob/master/lib/golint.coffee#L39).

[2014-04-04 05:27] joefitzgerald opened #14 "Use atom-message-panel For Error Panel Once It Is 1.0"
If https://github.com/tcarlsen/atom-message-panel doesn't have everything needed, create PRs against it.

[2014-04-06 23:52] #3 closed, assigned to nobody

[2014-04-06 23:52] #13 closed, assigned to joefitzgerald

[2014-04-06 23:52] #14 closed, assigned to joefitzgerald

[2014-04-07 13:37] joefitzgerald opened #15 "Warn When Current Go Files Are Not In Correct Location"
- [ ] Warn when files are not under $GOPATH
- [ ] Warn when files are not at the correct location under $GOPATH

[2014-04-07 15:06] AlexanderEkdahl opened #16 "Remove message panel when there aren't any issues"
There shouldn't be a message saying "No issues". It should simply not show. It should at least be optional.

[2014-04-07 15:33] #16 closed, assigned to joefitzgerald

[2014-04-07 15:46] AlexanderEkdahl opened #17 "Put temporary files in a temporary directory."
Currently saving a file causes the tree-view to flicker because a temporary file is created and then removed. Is there any chance this file could be located in /tmp or be hidden somehow?

This is a minor detail and time is probably better spent integrating geocode but thought I should mention it while your available :smile:

[2014-04-07 22:53] joefitzgerald opened #18 "Handle GOPATH With Multiple Entries"
https://code.google.com/p/go-wiki/wiki/GOPATH

- [x] Use regexp to split GOPATH if required
- [x] Provide array of GOPATH elements to components
- [x] Use first element of GOPATH when replacing $GOPATH in `Gofmt Path` and `Golint Path` preferences

[2014-04-08 06:12] #18 closed, assigned to joefitzgerald

[2014-04-08 17:35] joefitzgerald opened #19 "Remove User-Specific Paths From Tests"
https://github.com/joefitzgerald/go-plus/blob/3b4607752d30871e4bb3f887c98f18caff02e651/spec/golint-spec.coffee#L31

... to ensure that others can run them also.
- [x] Establish user-independent paths

[2014-04-09 01:20] #19 closed, assigned to joefitzgerald

[2014-04-09 01:23] joefitzgerald opened #20 "Create Documentation For 'How To Contribute'"
... help potential contributors understand how to get set up for development of the plugin, and ensure that tests pass.

[2014-04-10 19:32] pzurek opened #21 "Support Debugging"
Breakpoints, code stepping, the works...
That would be awesome, please.

[2014-04-12 14:37] joefitzgerald opened #23 "Warn When $GOPATH Does Not Contain `src` Folder"
... it's an indicator that perhaps your $GOPATH is not valid.

[2014-04-25 16:15] joefitzgerald opened #25 "Show Test Coverage"
Overhead from @soundcloud at @gophercon, [gocov]() looks worthy of integration.
- [ ] Allow a single test to be run
- [ ] Allow all tests in a package to be run
- [ ] Allow all tests in an app or a library to be run
- [ ] Display coverage information
- [ ] Show a go gopher when you have awesome coverage? :wink:

Could also investigate integrating directly against `go` using:
- `go test -cover -cov

[2014-04-26 15:33] joefitzgerald opened #26 "Add Installation Instructions To README"
- [ ] Instructions on how to install via `apm`
- [ ] Instructions on how to install via Preferences > Packages

[2014-04-26 16:54] #26 closed, assigned to joefitzgerald

[2014-04-28 13:33] joefitzgerald opened #28 "Prevent Issues If Someone Holds Down Cmd-S"
If someone falls asleep on the keyboard, prevent go-plus from initiating the save-based pipeline concurrently.

![Example](http://cl.ly/image/0B1H1X2Q0L3n/Screen%20Shot%202014-04-28%20at%202.28.36%20PM.png)

[2014-04-28 15:17] #23 closed, assigned to joefitzgerald

[2014-04-28 20:27] #20 closed, assigned to joefitzgerald

[2014-05-09 06:03] joefitzgerald opened #29 "Ensure Package Works On Windows"
... Because it's pretty obvious the current package won't work due to paths and the environment.
- [x] Get Atom Running On Windows
- [x] Manually Test
- [x] Update Tests For Windows
- [x] Handle Paths Correctly
- [x] Set Up Windows CI

[2014-05-11 22:31] #25 closed, assigned to nobody

[2014-05-14 22:25] mreynolds opened #30 "GOPATH with multiple directories (possible regression)"
For some reason, I can't copy the output of the go-plus error window, but it's basically telling me that my GOPATH ("/Users/mreynolds/Desktop/Projects/:/usr/local/opt/go") doesn't exist, which is correct, since it's a PATH, not a single directory.

I'm using 1.0.10 with Brew installed go.  I haven't tried manually overriding my env vars in settings.

[2014-05-15 18:05] #28 closed, assigned to joefitzgerald

[2014-05-16 21:53] joefitzgerald opened #32 "Make Configuration For Homebrew Installed Go Seamless"
We could do a better job of:
- Detecting if a user has a brew-installed version of go
- Alerting the user that we have found a brew-installed version of go instead of a package-installed version of go
- Modifying defaults for a user of brew-installed go in one step

This is inspired by comments from @mreynolds.
- [x] Detect if go is available at `/usr/local/go/bin/go` (indicating package or binary

[2014-05-18 06:41] #30 closed, assigned to nobody

[2014-05-21 15:54] kristofer opened #33 "find definition?"
Can we get some kind of ctrl-left-elbow function for finding the definition of the identifier I have selected? like func refs, vars refs, etc?

[2014-05-31 08:39] hansrodtang opened #35 "Issues with errors in multiple files"
I noticed gofmt did not detect an obvious error in my code that is used to detect just fine. Wondering why I went around my files to see if this was the case for all my files, and in all of my files except one it said nothing. When I fixed the error in this file gofmt worked properly again in my original file.

Is there any way to let the user know if there is an error somewhere else in your proje

[2014-07-06 14:00] michael-nischt opened #38 "Handle GOPATH With Multiple Entries (2)"
https://github.com/joefitzgerald/go-plus/issues/18
Does not seem be be fixed in 1.1.4

I have a composed GOPATH="/home/user/.go:/home/user/go-project" and Go-Plus seems to ignore the second. The following error occurs importing a package from the second path:

[code]

in a file go-project/src/xyz/abc/file.go which imports "xyz".

Note that I need /home/user/.go to be the first element in $GOPATH b

[2014-07-06 14:08] #38 closed, assigned to nobody

[2014-07-16 11:38] chessnokov opened #39 "GOPATH problem in Windows"
When i press Ctrl+s, i get the warning:
Warning: GOPATH [c] does not exist

My enveroment:

c:>echo %GOPATH%
C:\Users\samsung\workspace

c:>cd %GOPATH%

C:\Users\samsung\workspace>dir

14.07.2014  17:20    <DIR>          .
14.07.2014  17:20    <DIR>          ..
14.07.2014  17:20    <DIR>          bin
16.07.2014  12:56    <DIR>          pkg
16.07.2014  12:55    <DIR>          src

What's wrong?

[2014-07-19 06:23] simon-whitehead opened #40 "Go build not working OSX"
Hello,

I just installed Atom and Go Plus and it isn't allowing me to build from the command palette. It simply just does nothing. I am hitting Cmd+Shift+P and typing "go build". It finds a "Golang: Go build" command and when I select it nothing happens.

Is there something else I am supposed to be doing to build my Go code in Atom with Go Plus? Everything else works - I can confirm that gofmt and

[2014-07-21 13:55] #29 closed, assigned to nobody

[2014-07-21 13:56] #32 closed, assigned to joefitzgerald

[2014-07-22 01:09] #40 closed, assigned to nobody

[2014-07-22 22:53] #39 closed, assigned to joefitzgerald

[2014-07-23 03:23] quamen opened #41 "Format Tool Missing"
Hi,

I was wondering how to resolve an issue where go-plus isn't picking up the gofmt tool. It's definitely installed and available on my system.

[code]

Any ideas?

[2014-07-23 04:41] #41 closed, assigned to nobody

[2014-07-23 10:41] kuno opened #42 "Error after updated to 2.0.0"
![go-plus-error](https://cloud.githubusercontent.com/assets/161327/3671845/9c3a9e24-1255-11e4-93e7-b68ae0016c25.png)

Although I've already set the GOPATH

![go-plus-settings](https://cloud.githubusercontent.com/assets/161327/3671858/d4021044-1255-11e4-88d8-65a351ee8a8e.png)

[2014-07-24 04:31] #42 closed, assigned to nobody

[2014-07-25 22:24] brando90 opened #44 "Is go-plus not suppose to analyze your code if its open on a different pane?"
Is go-plus not suppose to analyze your code if its open on a different pane?

I had a different file open on a right pane and when I saved, it didn't do syntax analysis or anything like that. Is that expected behaviour?

Also, when I save only with one file, two little windows at the bottom with the same message open, even though there is only one file open. These bugs are happening only after the

[2014-07-26 09:58] cryptix opened #45 "display failed test output"
Hi,

i'm not sure if this is intentional or a bug but when running `go test` fails there is no output of any kind only the abscensce of the coverage hints at something beeing wrong.

Would be nice to have a pane display the output. Extra awesomeness would be to parse that output to jump to where it failed.

[2014-07-26 17:51] brando90 opened #46 "Getting missing tools not working automatically?"
I just updated to 2.0.1 and I was getting a formatting error. Go-plus said:

`Format Tool Missing`

How do i install the missing tools (manually at least)?

I did research that question

I did notice that this should be enabled automatically:

[code]

I checked the settings for the package and it **does** I have it selected. Then, why is the gofmt not running on save then? Is it a problem with the

[2014-07-26 18:13] brando90 opened #47 "Feature request, yellow warning optional"
I am having problems re producing this "error" but last night (I think before I downloaded 2.0.1) Go-plus was giving me yellow warnings about the fmt package.

I didn't really understand what the problem was but my go file ran just fin with `go run`.

I think the yellow warnings are meant to say that this is not good but it probably won't crash your code or something similar. I was wondering if it

[2014-07-27 22:41] #35 closed, assigned to joefitzgerald

[2014-07-28 10:55] mfhholmes opened #48 "HTML Template support"
Apologies if this is covered elsewhere, I couldn't see it.

I use "gohtml" as my extension for html templates, and use [[ and ]] to delimit the template instructions to avoid clashing with Angular.

I don't want to create a new Atom package to deal with this... it'd be fantastic if go-plus could support this. Of course, it would need to understand the template library and tell me when I got a temp

[2014-07-28 18:51] #47 closed, assigned to nobody

[2014-07-28 19:26] joefitzgerald opened #49 "Upgrading go-plus Or Disabling / Enabling It Causes Multiple Message Panels To Be Visible"
Steps to reproduce:
1. Install the `go-plus` package
2. Restart Atom
3. Save a `.go` file with an obvious syntax error; notice that there is only one message panel showing with any issues
4. Open Atom Preferences
5. Disable the `go-plus` package; enable the `go-plus` package
6. Save the same `.go` file again
7. Observe multiple message panels

I'm not sure if this is an issue with `atom-message-pa

[2014-07-28 19:27] #44 closed, assigned to nobody

[2014-07-28 19:29] #33 closed, assigned to nobody

[2014-07-29 01:25] Omegaice opened #50 "Error message interaction failing"
With the 2.0.2 release of go-plus and atom 0.120, I seem to be unable to click on any of the error messages to navigate to that line. I assume this is due to the changes made to close issue #44.

[2014-07-29 04:03] #49 closed, assigned to nobody

[2014-07-29 05:01] #15 closed, assigned to joefitzgerald

[2014-08-07 20:53] alexcesaro opened #51 "Hide panel at startup"
I think startup info (`Using Go: go1.2.1 linux/amd64 (@/usr/bin/go)...`) should be hidden at startup. Especially when there is no error and `Show Panel When No Issues Exist` is unchecked.

PS: Thanks for this nice plugin!

[2014-08-11 15:40] deybhayden opened #52 "Goimports removing needed import"
Hey there, love this package but having a weird issue with goimports running on save and removing a needed import. When I run goimports directly from the command line I don't have this issue. See the GIF below.

![goimports](https://cloud.githubusercontent.com/assets/877908/3878248/b841d26e-216d-11e4-8a20-faba35be439e.gif)

[2014-08-11 16:05] huntaub opened #53 "Integrate With Godep (https://github.com/tools/godep)"
This was mentioned by [mrwong here](https://github.com/joefitzgerald/go-plus/issues/40#issuecomment-51745957) earlier today, but it might not get noticed in a closed issue.

The request is to have a file (like `.goplus`) that defines what the GOPATH (and other env variables) are *per-project*. While having multiple go paths is not necessarily idiomatic, many people do use this approach. Having the

[2014-08-13 15:50] joefitzgerald opened #54 "Integrate /usr/libexec/path_helper To Set PATH When PATH Is "/usr/bin:/bin:/usr/sbin:/sbin""
See: https://github.com/joefitzgerald/go-plus/issues/46#issuecomment-52067251 for background detail.

[2014-08-13 15:51] joefitzgerald opened #55 "Warn When `git` and `hg` Are Not Available On The PATH"
See: https://github.com/joefitzgerald/go-plus/issues/46#issuecomment-52067251 for background detail.

[2014-08-13 15:52] #46 closed, assigned to nobody

[2014-08-14 02:16] blacktop opened #56 "After updating to go 1.3.1"
[code]

[2014-08-14 19:53] LukeMauldin opened #57 "Go is not a valid go"
Using Atom 0.121.0 on Mac OX 10.9 with Go 1.3.  Built Go from source and installed in /usr/local/go.  Set following settings:

![screen shot 2014-08-14 at 2 51 38 pm](https://cloud.githubusercontent.com/assets/1440808/3925900/714110e2-23ec-11e4-9fc5-1b028256efa4.png)

Receive this message in the console:
go [/usr/local/opt/go] is not a valid go

Go install is valid:
➜  /usr/local/opt/go/bin/go ver

[2014-08-15 04:37] derekperkins opened #58 "Add Google App Engine Compatibility"
I'm using the Google App Engine local dev environment and they use a goapp binary instead of the normal go binary, which includes their "appengine" packages to be referenced as if they were part of the standard library. If the "Go Installation" variable allowed for setting a binary as well as the path, that should make things work peachy. :)

https://developers.google.com/appengine/docs/go/tools/d

[2014-08-15 12:24] #57 closed, assigned to nobody

[2014-08-15 14:58] #58 closed, assigned to nobody

[2014-08-15 15:17] #52 closed, assigned to nobody

[2014-08-15 17:05] derekperkins opened #60 "Go cover doesn't appear to work on Windows"
I'm trying to get test coverage to work on my machine and it doesn't seem to be doing anything. I'm not getting any error messages or popups of any kind. I also don't see the temp file coverage.out that is supposed to be created, so I'm wondering if that's the culprit. I've tried running Atom in both administrator and normal modes. What's the best way to debug what's happening?

[2014-08-17 22:05] #54 closed, assigned to joefitzgerald

[2014-08-19 02:23] #56 closed, assigned to nobody

[2014-08-21 17:43] chessnokov opened #61 "Go plus packege seems not working (Ubuntu 14.04.1 64-bit)"
I clean install Atom,
then "apm install go-plus" with out error.
After installation i do not see any "missing" tool.
When I press CTRL+S, no format action happening.
When I do "package" -> "go plus" -> "format file", a recive error:

go [/home/chessnokov/bin/go] is not a valid go
Uncaught TypeError: Cannot read property 'format' of undefined

The path  "/home/chessnokov/bin/go" is my $GOROOT
I use

[2014-08-25 14:38] c2akula opened #62 "Cover and Vet tool Not Found"
I installed all the tools and still the problem persists :/ I open atom via the terminal, running ubuntu 14.04.

Using Go: go1.2.1 linux/amd64 (@/usr/bin/go)
GOPATH: /home/krtih/Github/tuts
Cover Tool: Not Found
Vet Tool: Not Found
Format Tool: /home/krtih/Github/tuts/bin/goimports
Lint Tool: /home/krtih/Github/tuts/bin/golint
Oracle Tool: /home/krtih/Github/tuts/bin/oracle
PATH: /usr/local/sbin:/

[2014-08-25 16:54] #62 closed, assigned to nobody

[2014-08-26 12:14] #61 closed, assigned to nobody

[2014-09-05 02:53] Negaihoshi opened #64 "How to setting my go plus"
I use gvm to install golang.
/Users/username/.gvm/gos/go1.3.1/bin/
/Users/negaihoshi/.gvm/pkgsets/go1.3.1/global/bin/

How to setting my go-plus.
It's always show me "No Go Installations Were Found".
![go plus setting](http://i.imgur.com/04CofoR.png)

[2014-09-05 09:38] rivo opened #65 "Syntax hightlight in var blocks"
Not sure if this has been addressed before or if this is even the right place. Syntax highlighting seems to fail in var blocks. Everything, including comments, appears in green within a var ( ) block. Example:

[code]

I would think that this is not the intended behaviour. (Also, if this is not a go-plus issue, where would I post this bug?)

[2014-09-08 12:23] #65 closed, assigned to nobody

[2014-09-09 13:13] rivo opened #66 "Line numbers not highlighted on compiler errors"
Since a recent upgrade, the line numbers of lines with compiler errors don't get highlighted anymore. Their background used to turn red but without that, it's really hard to spot compiler errors. Here's a screenshot:

![image](https://cloud.githubusercontent.com/assets/480930/4201804/5cb6e2e2-3822-11e4-9150-21566827ef94.png)

There are compiler errors in line 73 and 74 but the visual appearance of

[2014-09-16 05:10] jokeyrhyme opened #67 "investigate atomlinter/linter possibly reducing surface area?"
I've been using the Linter plugins for various other languages where available. I wonder if you've had a change to take a look at it: https://atom.io/packages/linter

The project strives to be a unified error highlighting system, so others can develop language-specific systems without needing to bother with the UI.

Is this definitely a no-go? Or is it something you'd accept a pull-request or some

[2014-09-21 14:29] #67 closed, assigned to nobody

[2014-09-23 04:13] #60 closed, assigned to nobody

[2014-09-27 09:57] azr opened #68 "Bug"
Hi

[code]

[2014-09-27 20:01] #68 closed, assigned to nobody

[2014-10-07 05:33] wandergeek opened #69 "Plugin unnecessarily removes dependecies that are being used"

[2014-10-07 08:06] MarchLiu opened #70 "error when load"
Atom 0.121.0

[code]

[2014-10-07 18:40] lesv opened #71 "Go AppEngine support"
It would be nice if go-plus would recognize AppEngine projects and behave appropriately.
1. Use GoApp instead of Go
2. Add serve & deploy options.
3. gofmt shouldn't be unhappy about the folder not being in gopath.

[2014-10-08 00:21] doug opened #72 "Support colon seperated GOPATH"
Go supports `$GOPATH` with multiple paths separated by a colon, such as `export GOPATH=$HOME/go:$HOME/gogae:$HOME/mygo`, however this does not seem to work with go-plus. This is very helpful because I use multiple gopaths to separate appengine go libraries, go get installed libraries, and go projects I'm working on myself.

[2014-10-08 00:24] #72 closed, assigned to nobody

[2014-10-11 15:18] runcom opened #74 "GVM support?"
It would be nice to have https://github.com/moovweb/gvm support. GVM set the gopath to something like `/home/antonio/.gvm/pkgsets/go1.3.3/global` so you could derive the current go installation and tools

[2014-10-14 02:18] dadrian opened #75 "go-plus tries to run folders named "go" as an executable"
If in `$PATH`, before the folder containing the go executable, there exists a folder `$FOLDER` such that the path `$FOLDER/go` is another folder, and not an executable, go-plus attempts to use `$FOLDER/go` as the go executable.

This happens even if you specify your Go installation in the configuration.

To reproduce, assuming the Go executable is already on your path:

[code]

The logs in the con

[2014-10-14 02:48] #64 closed, assigned to nobody

[2014-10-14 22:51] amoghe opened #76 "Use different tool to "go build" per project"
When working on golang projects that are meant to run in Google AppEngine (GAE), these projects must be compiled (and tested) with tools that ship with the SDK, namely `goapp`. This is a wrapper around the `go` binary, so it is almost fully compatible with `go` (i.e. you can run `goapp <CMD>` instead of `go <CMD>`, e.g. - `goapp test` instead of `go test`)

One way to work with this project in Ato

[2014-10-15 13:10] ptomasroos opened #77 "Do not load if no .go files are being currently in treeview / editor"
I think its strange that this plugin bootstraps even though i'm doing node sometimes.

What would be a good approach to defer the loading of this when its only about to be used?

[2014-10-18 10:13] tg opened #78 "Unset The DYLD_INSERT_LIBRARIES Environment Variable"
I've installed Atom and Go Plus on two Macs. They both seem to have exactly the same Go environment (installed by Homebrew) and the plugin works perfectly on one of them. However, on my second Mac, tools like `ftm` or `vet` seem to have no effect in Atom (code doesn't get formatted, no suggestions from vet). On the other hand, build errors are working correctly.

I've been researching this for hou

[2014-10-18 12:57] adred opened #79 "Add A Linux CI Build To Ensure go-plus Works On Linux"
I'm not sure when and what triggered the issue but nothing works currently. Yesterday I upgraded Go from 1.3.1 to 1.3.3 and go-plus to 2.0.10. This morning I noticed that when I hit save the lint is not triggered. After digging, I learned that nothing is working at all. I thought it was caused by the sourcegraph plugin so I removed it and even reinstalled atom but still go-plus refuses to work.

H

[2014-10-21 16:25] 0xdabbad00 opened #80 "Ability to filter warnings"
I have to disable Syntax checking entirely in order to get rid of the message "Warning: File [...] does not reside within a "src" directory in your GOPATH"  Perhaps my setup is wrong, but I would like to just disable this one warning.  My setup is as described for https://github.com/moovweb/gvm which as I interpreted it, means I should have the following
- /myproject
  - myfile.go
  - Godeps
  - /

[2014-10-21 16:49] #80 closed, assigned to nobody

[2014-10-24 20:05] RangerMauve opened #81 "GPM and GVP integration"
It'd be nice to be able to issue relevant [Go Package Manager](https://github.com/pote/gpm) and [Go Versioning Packager(https://github.com/pote/gvp) commands directly from the editor as well.

[2014-10-25 00:42] #71 closed, assigned to nobody

[2014-10-25 00:50] lesv opened #82 "AppEngine and Go on the same machine... (OS X)"
I have both AppEngine and Go on the same machine, it would be nice if on save, when [x] check syntax was checked, you'd run 'goapp build' / 'goapp test' instead of 'go build' / 'go test'.  One good way to check is if **app.yaml** is in the same directory as the file being saved.

The problem is that I get:
`
at line 24, character 2, file endpoints/user.gocannot find package "appengine/datastore" i

[2014-11-01 19:04] bajubullet opened #83 "unable to install giving error"
My GOPATH is set

Using Go: go1.3.1 darwin/amd64 (@/usr/local/bin/go)
GOPATH: Not Set
Cover Tool: /usr/local/go/pkg/tool/darwin_amd64/cover
Vet Tool: /usr/local/go/pkg/tool/darwin_amd64/vet
Format Tool (goimports): Not Found
Lint Tool: Not Found
Oracle Tool: Not Found
PATH: /usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/go/bin

[2014-11-04 19:17] #82 closed, assigned to nobody

[2014-11-04 19:21] #70 closed, assigned to nobody

[2014-11-04 19:21] #69 closed, assigned to nobody

[2014-11-04 19:48] #50 closed, assigned to nobody

[2014-11-04 19:53] #4 closed, assigned to nobody

[2014-11-04 19:55] joefitzgerald opened #84 "Add Support For `goreturns`"
See: https://github.com/sqs/goreturns

This should be a simple addition as it maintains flag compatibility with `gofmt` and `goimports`.

[2014-11-04 22:37] joefitzgerald opened #85 "Add Operating System Information And Atom Version In `Display Go Information` Output"
...so that I can stop asking these questions when someone reports a `go-plus` issue.

[2014-11-05 21:14] LukeMauldin opened #86 "Not Valid Go Installation"
When I edit a .go file I get this:
go [/usr/local/opt/go] is not a valid go

My GOROOT: /usr/local/opt/go
GOPATH: /Users/lmauldin/dev/goexternal

I am running OSX 10.10.  I have tried launching Atom via the Launcher and via the terminal (ie  'atom .' in a go project) and I receive the same errors.

➜  jirasync git:(master) ✗ ls /usr/local/opt/go
AUTHORS      CONTRIBUTORS LICENSE      PATENTS

[2014-11-05 22:51] #75 closed, assigned to joefitzgerald

[2014-11-05 22:51] #84 closed, assigned to joefitzgerald

[2014-11-05 22:51] #85 closed, assigned to joefitzgerald

[2014-11-05 23:19] #55 closed, assigned to joefitzgerald

[2014-11-06 12:59] #86 closed, assigned to nobody

[2014-11-06 20:19] jbenet opened #87 "Assumes variables are packages"
[code]

If i have a package `github.com/baz/log` Go Plus will insert:

[code]

Should check the entire package before making assumptions. This is very nice when it works. Barring perfect checks, having a way to disable specific packages, or variables, or directories, or projects would help.

[2014-11-07 22:28] #87 closed, assigned to nobody

[2014-11-10 22:58] azr opened #89 "Goimport removes wrong import"
Hello there,

in this [file](https://github.com/azr/phash/blob/581c1152ea6920d53539205ba4e95a7c99789dd4/radon/radon.go#L4),  the import line `"code.google.com/p/biogo.matrix"` gets removed by goimports using go-plus.

If I edit it with vim with wrong spacing I get :

[code]

If I do

[code]

it's not removed.

Cheers !

Edit: It's not removed if I use gofmt as a format tool.

[2014-11-12 19:37] hansrodtang opened #91 "Add support for gorename"
There is a new tool added to the tools repository that looks interesting; gorename. The tool allows you to easily rename identifiers across a project. Might be worth a look.

https://groups.google.com/d/msg/golang-nuts/96hGPXYfqsM/WreOUy9qOT4J

[2014-11-12 23:26] #83 closed, assigned to nobody

[2014-11-15 17:19] #89 closed, assigned to joefitzgerald

[2014-11-16 06:37] hansrodtang opened #93 "Tests fail on Go develoment builds."
Probably not the most serious of issues, but I thought I should comment on it.

The parsing in [goexecutable.coffee](https://github.com/joefitzgerald/go-plus/blob/f082facd07b4e238b754cb7e3620e4404038ec73/lib/goexecutable.coffee#L95-96) fetches the name from the version string, which in development builds does not contain the word "go", making the tests fail.

The test failing is this one here: [go

[2014-11-17 05:21] #2 closed, assigned to joefitzgerald

[2014-11-17 07:52] zhevron opened #95 "Error when opening .go files in 3.0.0"
Since the 3.0.0 update, I'm seeing the following when opening .go files:
![screen shot 2014-11-17 at 08 43 05](https://cloud.githubusercontent.com/assets/2384772/5066581/eb90b8c8-6e35-11e4-92e7-8c5de1596b93.png)

The actual tab with the filename is missing. This does not occur for non-.go files and stops happening if I disable Go Plus. I also tried disabling autocomplete-plus by itself, but the pr

[2014-11-17 16:44] #95 closed, assigned to nobody

[2014-11-17 18:50] kusold opened #96 "go build: Uncaught TypeError: callback provided to sync glob"
On a Windows Server 2012 machine, every time I call `build`, the Chrome console pops up with an error.

[code]

Display Go Information

[code]

[2014-11-17 23:43] #96 closed, assigned to nobody

[2014-11-18 03:58] #17 closed, assigned to nobody

[2014-11-18 03:58] #78 closed, assigned to joefitzgerald

[2014-11-18 03:58] #93 closed, assigned to nobody

[2014-11-19 02:35] JoelHobson opened #97 "Gocode autocompletion doesn't reveal any suggestions"
First, let me say that I'm not 100% sure that this is a go-plus issue. If it's not, I'm sorry I've brought it up. If it's a configuration or gocode issue, hopefully this bug report will keep other people from asking the same question.

System: OSX Yosemite, latest versions of Atom and autocomplete-plus.

I've upgraded to the latest version of go-plus (3.0.4, I believe) and installed gocode. It's a

[2014-11-19 14:35] #97 closed, assigned to nobody

[2014-11-21 14:16] hansrodtang opened #99 "Tests fail on Atom 0.150.0"
Noticed that a pull request had a failing test, so I reran the older builds to check. Those builds fail now as well. First I thought it was because of the Travis OSX update, but AppVeyor failed on the same places.

The only difference I can see is that rebuilding downloads Atom 0.150.0 instead on the older 0.146.0

[2014-11-22 16:17] #48 closed, assigned to nobody

[2014-11-22 17:01] #99 closed, assigned to nobody

[2014-11-22 18:08] aarongreenlee opened #100 "Uncaught Error: This TextEditor has been destroyed"
Hello,

Regularly, I receive an exception while using the GO Plus package. Researching this, it seems it also occurs in some other plugins (example: https://github.com/atom/atom/issues/4174). The linked bug report states that the plugin needs to unsubscribe from the editor once destroyed.

This error seems to happen when I am editing using two or more columns (documents open side-by-side).

Once t

[2014-11-23 20:29] #100 closed, assigned to nobody

[2014-11-24 16:53] ghost opened #101 "autocomplete-plus completion not working with go-plus"
I get the following error, when I hit the tab key to start autocompletion:
Uncaught TypeError: undefined is not a function  ~/.atom/packages/autocomplete-plus/lib/autocomplete-view.coffee:150

If I disable go-plus autocomplete-plus is working just fine and vice versa.

OS: Ubuntu 14.04
Go: go1.3.3 linux/amd64 (@/usr/local/go/bin/go)
GOPATH: ~/code/go
Cover Tool: /usr/local/go/pkg/tool/linux_amd64/

[2014-12-12 20:03] mndrix opened #104 "pressing up/down arrow key skips a line"
This bug report is unfortunately vague.  The bug only occurs when go-plus package is enabled.  I don't know the version number, but it's only started happening within the last month or so.  It seems related to autocompletion somehow.

I'll go along editing my Go code just fine.  At some point (usually after ignoring an autocomplete box), I notice that pressing the down arrow key advances the curso

[2014-12-12 21:09] #104 closed, assigned to nobody

[2014-12-13 00:58] #101 closed, assigned to joefitzgerald

[2014-12-13 04:05] tehmaspc opened #106 "Cannot get Cover Tool Working Properly Since Go 1.4 Release"
On Mac OS X 10.10.1, w/ Homebrew 0.9.5 and Go 1.4

I cannot get 'Cover Tool' to be installed properly w/ Go Plus. I have all the pertinent pkgs required and this was working before the 1.4 release yesterday.

My Go Plus setup:

Go: go1.4 darwin/amd64 (@/usr/local/bin/go)
GOPATH: /Users/tehmasp/Projects/Go
Cover Tool: Not Found (Is Mercurial Installed?)
Vet Tool: /usr/local/Cellar/go/1.4/libexec/pk

[2014-12-13 04:18] #106 closed, assigned to nobody

[2014-12-15 17:55] jasich opened #108 "Uncaught TypeError: Cannot read property 'isValidEditor' of null"
Atom thinks that you need to know this, Godspeed sir.

Uncaught TypeError: Cannot read property 'isValidEditor' of null

**Atom Version**: 0.157.0
**System**: Mac OS X 10.10.1
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.0.9
### Steps To Reproduce
1. ...
2. ...
### Stack Trace

[code]

/cc @atom/core

[2014-12-16 20:27] abduelhamit opened #109 "go is not a valid go"
The problem happens in [/lib/goexecutable.coffee, line 107](/joefitzgerald/go-plus/blob/v3.0.10/lib/goexecutable.coffee#L107). The console shows

[code]

and the error stack is

[code]

The thing is: `c:\Go\bin\go.exe` is the correct path. `c:\Go\bin\go.exe version` shows

[code]

My PC runs on Windows 8.1 64 bit and Go Plus worked before I updated Go and the Atom package (I did it at the same tim

[2014-12-16 22:29] #109 closed, assigned to nobody

[2014-12-17 00:55] joefitzgerald opened #110 "Fix Windows CI Build"

[2014-12-17 20:30] #108 closed, assigned to nobody

[2014-12-17 22:08] fourcube opened #111 "Message panel grows on every save"
The message panel grows on every save. The source of this problem is that the MessagePanelView is attached to the bottom panel too often. It looks to me as if MessagePanelView.close() does not destroy it's containing `<div/>` element.

[2014-12-17 22:59] #111 closed, assigned to nobody

[2014-12-18 23:37] davedash opened #112 "Uncaught TypeError: Cannot read property 'buildgopath' of undefined"
Uncaught TypeError: Cannot read property 'buildgopath' of undefined

**Atom Version**: 0.156.0
**System**: Mac OS X 10.10.1
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.0.11
### Steps To Reproduce
1. go path set in go plus configs
2. run gofmt from command pallet.
### Stack Trace

[code]

/cc @atom/core

[2014-12-19 00:24] #112 closed, assigned to nobody

[2014-12-23 13:41] hanjos opened #113 "Can't install behind a proxy"
I'm trying to install `go-plus` in my freshly installed Atom, using the corporate wifi but in my personal MacBook. `autocomplete-plus` went without a problem, but installing `go-plus` returns the following error:

[code]

Thing is, I cannot access git:// URLs behind the corporate firewall. [This workaround](https://github.com/npm/npm/issues/5257#issuecomment-60404802) works in the terminal for `np

[2014-12-25 00:04] muralimadhu opened #115 "Uncaught TypeError: Cannot read property 'executable' of undefined"
Uncaught TypeError: Cannot read property 'executable' of undefined

**Atom Version**: 0.158.0
**System**: Mac OS X 10.9.4
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.0.11

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

/cc @atom/core

[2014-12-25 07:17] arunjit opened #116 "Uncaught TypeError: undefined is not a function"
This happens when I try to open a .go file, either from the sidebar or Cmd+P.
The file does open when I click the name on the sidebar, but no tab is created (ie, the editor area shows the code and is editable and save works).

[There is already an open issue for the tab bar]

Uncaught TypeError: undefined is not a function

**Atom Version**: 0.162.0
**System**: Mac OS X 10.10.1
**Thrown From**: [g

[2014-12-28 12:37] azr opened #117 "Uncaught TypeError: Cannot read property 'buildgopath' of undefined"
Hello there,

It's me again !

Gopath is set right .
Atom was launched from command line.

**The problem is fixed after relaunching from command line**

Here is the dump from atom :

Uncaught TypeError: Cannot read property 'buildgopath' of undefined

**Atom Version**: 0.155.0
**System**: Mac OS X 10.10.1
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.0.11
### Ste

[2014-12-28 12:37] #117 closed, assigned to nobody

[2014-12-31 11:07] azr opened #118 "Add priorities in message panel"
Hello there,

I like the message panel, but my screen is not so big. And when I get errors, any warning appears first.

It'd be nice if the errors would be displayed first so when the panel is reduced I can see them.

Tell me if I can help !

Cheers !

[2015-01-02 23:31] antonarhipov opened #119 "Failed to run go command"
Even though the 'go' utility is in the PATH, when I attempt running the program, the plugin reports:

Uncaught BufferedProcessError: Failed to spawn command `go`. Make sure `go` is installed and on your PATH /Applications/Atom.app/Contents/Resources/app/src/buffered-process.js:100

[2015-01-03 00:07] joefitzgerald commented on #119
What version of Atom and go-plus are installed? Can you paste the output of `Packages > Go Plus > Display Go Information`?

[2015-01-03 00:17] antonarhipov commented on #119
Atom 0.165.0, go-plus 3.0.11

Go: go1.4 darwin/amd64 (@/usr/local/go/bin/go)
GOPATH: /Users/anton/work-go
Cover Tool: /usr/local/go/pkg/tool/darwin_amd64/cover
Vet Tool: /usr/local/go/pkg/tool/darwin_amd64/vet
Format Tool: /usr/local/go/bin/gofmt
Lint Tool: /Users/anton/work-go/bin/golint
Gocode Tool: /Users/anton/work-go/bin/gocode
Gocode Status: Enabled
Oracle Tool: /Users/anton/work-go/bin/orac

[2015-01-05 14:18] kostonstyle opened #120 "Installing errors"
npm http GET https://registry.npmjs.org/async
npm http GET https://registry.npmjs.org/fs-plus
npm http GET https://registry.npmjs.org/emissary
npm http GET https://registry.npmjs.org/glob
npm http GET https://registry.npmjs.org/temp
npm http GET https://registry.npmjs.org/underscore-plus
npm WARN `git config --get remote.origin.url` returned wrong result (git://github.com/joefitzgerald/atom-messag

[2015-01-05 14:40] joefitzgerald commented on #120
[code]

Check your internet connection. Make sure you can clone Guthub repos.

[2015-01-05 14:40] #120 closed

[2015-01-05 14:48] kostonstyle commented on #120
I check git clone statement everything is fine

PS D:\> git clone https://github.com/joefitzgerald/go-plus
Cloning into 'go-plus'...
remote: Counting objects: 1919, done.
remote: Total 1919 (delta 0), reused 0 (delta 0)
Receiving objects: 100% (1919/1919), 1.87 MiB | 574.00 KiB/s, done.
Resolving deltas: 100% (1277/1277), done.
Checking connectivity... done.

[2015-01-05 14:51] kostonstyle commented on #120
I try with apm install go-plus

PS D:\> apm install go-plus
Installing go-plus to C:\Users\bma\.atom\packages failed

npm http GET https://registry.npmjs.org/async
npm http GET https://registry.npmjs.org/emissary
npm http GET https://registry.npmjs.org/fs-plus
npm http GET https://registry.npmjs.org/glob
npm http GET https://registry.npmjs.org/temp
npm http GET https://registry.npmjs.org/underscor

[2015-01-05 22:50] joefitzgerald commented on #120
Fixed in `v3.0.12` - I switched to git+https.

[2015-01-05 22:50] joefitzgerald commented on #113
Fixed in `v3.0.12` - I switched the dependency to git+https.

[2015-01-05 22:50] #113 closed

[2015-01-06 12:47] kostonstyle opened #121 "No Go Installations Were Found"
When I click on Get Missing Tools, I've got the message
[code]
What do I wrong?
![capture](https://cloud.githubusercontent.com/assets/701611/5628701/222b8dd0-95ab-11e4-9702-e94253ec3511.JPG)

[2015-01-06 13:21] joefitzgerald commented on #121
Looks like you're on windows. Where is go installed?

[2015-01-06 13:21] joefitzgerald commented on #121
And also please print your current $PATH.

[2015-01-06 13:26] kostonstyle commented on #121
Here is my go env
![capture](https://cloud.githubusercontent.com/assets/701611/5629085/efe81618-95af-11e4-9a20-1364d178bd7d.JPG)

[2015-01-06 13:34] joefitzgerald commented on #121
You're running an old version of atom. Please upgrade to 0.166.0.

[2015-01-06 13:45] kostonstyle commented on #121
Now it works fine. Thanks so much.

[2015-01-06 13:45] #121 closed

[2015-01-07 06:37] kostonstyle opened #122 "Show message panel"
How can I customize go-plus settings show message panel, that only shows by message errors not by warnings?
![capture](https://cloud.githubusercontent.com/assets/701611/5641838/11a65b08-9640-11e4-9cfe-c68f46d491bd.JPG)

[2015-01-07 12:51] LukeMauldin opened #123 "Add GoDef Support"
Add support for GoDef http://godoc.org/code.google.com/p/rog-go/exp/cmd/godef to get symbol information

[2015-01-08 17:02] rivo commented on #66
Can this issue be re-opened? Error highlights are gone again. Not sure when exactly this happened as I hadn't used Atom in a while. But now I'm on Atom v0.168.0 and go-plus v3.0.13. The symptoms are exactly the same as described above.

[2015-01-08 21:53] arashpayan opened #124 "Uncaught TypeError: Cannot read property 'isValidEditor' of null"
[Enter steps to reproduce below:]

1. I had a source file from my Go project open
2. In the Atom menu, I clicked Packages -> Go Plus -> Check File Syntax
3. Then the below error popped up and said I should open an issue.

**Atom Version**: 0.165.0
**System**: linux 3.17.1-031701-generic
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.0.13

### Stack Trace

Uncaught

[2015-01-09 06:04] kyoh86 opened #125 "Saving an empty .go file, an error occurred"
Uncaught TypeError: Cannot read property '1' of null
/Users/kyoh/.atom/packages/go-plus/lib/gobuild.coffee:68
Hide Stack Trace
TypeError: Cannot read property '1' of null
  at Gobuild.module.exports.Gobuild.checkBuffer (/Users/kyoh/.atom/packages/go-plus/lib/gobuild.coffee:68:27)
  at /Users/kyoh/.atom/packages/go-plus/lib/dispatch.coffee:299:20
  at /Applications/Atom.app/Contents/Resources/app/n

[2015-01-09 15:23] joefitzgerald commented on #125
I've seen this error also, I need to add a test and make sure it doesn't cause issues.

[2015-01-13 20:31] stijnvn opened #126 "Run the Go format tool on unsaved buffers."
It seems that the format tool only works on saved buffers.
Running gofmt on a not properly formatted file does nothing.

[2015-01-13 23:49] crispinb opened #127 "Option to create executable on go build"
For small ad hoc programs, it would be nice to have an option to create (and possibly run as  another option) an executable. `go build ` invoked in a .go file's directory does what I mean.

This wouldn't be something anyone would want done every save, but would be available as a command to bind to a keystroke.

[2015-01-13 23:51] crispinb opened #128 "Keybinding to hide message panel"
Hopefully self-explanatory title.

[2015-01-13 23:53] crispinb opened #129 "Message panel warnings identified by tool?"
I'd like to know which tool each message comes from. I think they're colour-coded, but am not sure if this is per-tool or error/warning severity.

Could this either be documented in the README, or explicitly labelled in the message panel?

[2015-01-14 00:29] crispinb opened #130 "Unwanted autocompletes when writing comments"
When typing comments, autocomplete constantly offers up all the identifiers I have at the top level of my file (imports, function names etc). This makes commenting so difficult (I need to type them in another buffer an then paste them in) that I suspect it must be something idiosyncratic with my Atom config (I'm quite new to Atom). Would be grateful for any hints.

[2015-01-14 00:39] zmb3 commented on #130
I was going to open an issue for this very problem but I'm not sure if it's an issue with go-plus or autocomplete-plus.

It would be nice if autocomplete suggestions just didn't come up when the cursor is typing in the context of a comment.

[2015-01-14 00:46] joefitzgerald commented on #130
It's not you. It's autocomplete-plus. We're actively working on making things better over there. We are specifically going to allow suppression of autocomplete in scopes, one of which will be golang comments.

* https://github.com/atom-community/autocomplete-plus/pull/184
* https://github.com/atom-community/autocomplete-plus/pull/186

If you're wondering how I ended up doing such significant modif

[2015-01-14 01:14] crispinb commented on #130
Great, thanks. I'll close this then as it's not a go-plus issue.

[2015-01-14 01:20] joefitzgerald commented on #130
Let's keep it open so I write a test to lock this in as a guarantee in the future.

[2015-01-14 01:21] joefitzgerald commented on #129
@park9140 are considering a new package for display of messages, which would include this requirement.

[2015-01-14 01:25] joefitzgerald commented on #128
:+1:.

[2015-01-14 01:26] joefitzgerald commented on #127
:+1:

[2015-01-14 01:49] joefitzgerald commented on #126
`gofmt` does not function on an invalid .go file. However, it should be possible to run gofmt on an unsaved buffer via the menu or a keybinding - that's a valid enhancement.

[2015-01-14 01:50] joefitzgerald commented on #123
:+1:

[2015-01-14 01:51] joefitzgerald commented on #122
Resolve the errors, and you'll then see warning.

[2015-01-14 01:51] #122 closed

[2015-01-15 00:56] campoy commented on #76
Hi Joe,

First of all thanks for this *amazing* package! I recently started using atom.io and I gotta say one of the reasons was this :)

I am a Developer Advocate for the Go team and the Google Cloud Platform so we could say that if you have some complaints I'm happy to be your point of contact!

I'll try to try to fix this and send a PR as soon as I have some time unless someone has been working

[2015-01-15 01:01] joefitzgerald commented on #76
Hey @campoy, thanks for the help! Feel free to join the [Gitter room](https://gitter.im/joefitzgerald/go-plus) if you'd like to discuss in more detail.

[2015-01-15 09:15] MrPeterLambert commented on #66
atom 0.166.0 has enabled Shadow DOM by default. It can be fixed by prefixing the styles with atom-text-editor::shadow or by disabling it in the editor options. The package will need fixing as this option will go before v1.0.

http://blog.atom.io/2015/01/05/enable-shadow-dom.html

[2015-01-22 20:12] alex opened #135 "Deprecated selectors"
(The only way I could think to show this was a screenshot, sorry!)

![screen shot 2015-01-22 at 3 11 46 pm](https://cloud.githubusercontent.com/assets/772/5863637/01c20c54-a249-11e4-845e-ff8d7753e217.png)

[2015-01-22 20:27] joefitzgerald commented on #135
See: #132.

[2015-01-22 20:27] #135 closed

[2015-01-22 20:27] joefitzgerald commented on #135
Thanks for reporting, there's a PR with a fix for this that I need to review and merge.

[2015-01-23 02:43] mishak87 commented on #66
:+1 ping

[2015-01-23 03:32] joefitzgerald commented on #66
Yup, this is fixed in #132. Will review and merge tonight.

[2015-01-24 06:25] crispinb opened #136 "Godef pull request"
Hi Joe,
I have an approximately functional godef command + specs. Was going to chat over gitter, but for some reason it won't log me in.
How would you like to proceed -- pull request straight up, or is there stuff you'd like to go over first?

(Tentativeness because I'm new to Atom & coffeescript, and am not in any sense a web developer. I'm a bit hazy on the environment's moving parts)

Cheers.

[2015-01-24 17:10] joefitzgerald commented on #136
Great! APR works well as a way to discuss the code. Happy to discuss in Gitter also if you can figure out the login issues.

[2015-01-24 23:04] crispinb commented on #136
OK, [submitted](https://github.com/joefitzgerald/go-plus/pull/137)

[2015-01-24 23:04] #136 closed

[2015-01-25 16:20] mishak87 commented on #66
Just reminder, same goes for code coverage, it works with Shadow DOM option unchecked.

[2015-01-26 23:05] bprosnitz opened #140 "Autocompetes in `` quote blocks"
Within a `` quote block in go, go-plus tries to autocomplete. This is unexpected within a string.

[2015-01-26 23:36] joefitzgerald commented on #140
See atom-community/autocomplete-plus#186. Fix coming soon.

[2015-01-26 23:36] #140 closed

[2015-01-27 14:05] abduelhamit opened #141 "Some stuff are deprecated."
Use the `atom-text-editor` tag instead of the `editor` class.
[code]
---
Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension. If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements.
[code]

[2015-01-27 14:07] #141 closed

[2015-01-27 14:07] abduelhamit commented on #141
See: #132.

[2015-01-27 14:56] alex opened #142 "go-plus is slow to activate"
According to timecop, go-plus takes 119ms to activate -- far longer than any other package, and this contributes to slow startup time for atom.

[2015-01-28 19:47] joefitzgerald commented on #142
Yep, we can do better here. I also can improve autocomplete-plus once we deprecate the Legacy Provider API there, shaving a combined total of a couple hundred milliseconds if my estimates are correct.

[2015-01-28 19:47] alex commented on #142
That's awesome! Thanks.

[2015-01-29 18:02] joefitzgerald commented on #116
Can you please update Atom, `autocomplete-plus`, and `go-plus` to the latest versions and let me know if you're still experiencing this issue?

[2015-01-29 18:05] joefitzgerald commented on #130
Can we document a list of scope(s) / selector(s) where you think autocomplete shouldn't trigger in `.go` files? An easy way to determine this is by pressing `shift` `+` `option` + `S` on OSX and you'll get the scope(s) for the current cursor buffer position.

I implemented blacklists in autocomplete-plus and for providers, so we have a few different vectors to suppress autocomplete.

Additionally,

[2015-01-29 21:10] zmb3 commented on #130
I'm all for suppressing the FuzzyProvider in Go source code.

I would also like to be able to prevent autocomplete from triggering in comments and struct tags (if there's a scope for that), but I could see some users wanting it in both those cases.

[2015-01-29 21:17] zmb3 opened #144 "Enable autocomplete for struct literals"
It would be nice to support autocomplete in stuct literals.  For example, if I have a type:

[code]

and my buffer looks something like this (cursor at the * character):

[code]

I would like to be able to trigger an autocomplete (either manually with a keybinding or automatically) that offers suggestions for the various fields in `Foo`.

Is this even possible with gocode?

[2015-01-29 21:19] wyattjoh opened #145 "Run go lint on current package instead of on files"
I always find myself forgetting to fix code when I initially see the `go lint` problems and then close the buffer. I'd propose that go-lint could be run on all files in the current package that you are working on when you save, sort of how the errors show up for the syntax errors on `go build`.

[2015-01-29 21:26] joefitzgerald commented on #144
I'm not sure. I do want to enhance the suggestions we provide such that we emit anonymous snippets, and that might go some or all the way to achieving what you would like to do. Step one is analyzing the suggestion output that `gocode` gives us when you have typed: `foo := Fo`. If it includes the struct's members in the suggestion, then this is a resounding yes.

[2015-01-29 21:27] joefitzgerald commented on #123
By the way, there is a PR for this in #137. Please keep an eye on that.

[2015-01-29 21:31] joefitzgerald commented on #130
Yep.

So - right now, my inclination is to add the following blacklist items:

* blacklist: `.scope.go .comment` << suppresses autocomplete via `gocodeprovider` in comments
* providerblacklist: `'autocomplete-plus-fuzzyprovider': '.scope.go'` << suppresses FuzzyProvider completely for `.go` files

You can actually also globally suppress autocomplete for all providers in `autocomplete-plus` prefere

[2015-01-29 22:05] zmb3 commented on #144
Relevant: https://github.com/nsf/gocode/issues/117

[2015-01-29 22:12] joefitzgerald commented on #144
So at issue here is that there is no prefix. That is preventing autocomplete from showing the suggestion list automatically. Can you use the keybinding to trigger the suggestion list, and do you get what you expect?

[2015-01-29 22:13] joefitzgerald commented on #144
Default keymap:
[code]

[2015-01-29 23:01] zmb3 commented on #144
Right - and I don't think requiring a manual keypress to get around the lack of a prefix here is a bad thing.

The keybinding triggers the suggestion list as expected, but the suggestion list does not contain the fields of the struct.  This is a limitation of gocode, although it looks like someone may have resolved it in a fork (see the issue I referenced in a previous comment).

[2015-01-29 23:03] joefitzgerald commented on #144
It's a little concerning that npf is in maintenance only mode for gocode. I wonder if there are any active forks that are gaining traction?

[2015-01-29 23:04] joefitzgerald commented on #144
I take that last comment back. It seems like this got merged into gocode, and then there was a defect, and talk of another PR.

[2015-01-29 23:23] zmb3 commented on #130
Global suppression via `Scope Blacklist` works great.  So much easier to work with!

[2015-01-31 08:54] fourcube commented on #125
Have seen this happen too. It occurs after saving a *.go file. The file contents disappear for half a second and then reappear, with the error message popping up.

[2015-01-31 18:18] otm commented on #124
I had this issue and I could solve it by updating my go tools

[2015-01-31 20:24] arashpayan commented on #124
Yeah, I haven't been able to reproduce it since either, so I'm gonna close this out.

[2015-01-31 20:24] #124 closed

[2015-02-03 06:10] joefitzgerald commented on #66
#132 shipped and this is fixed. Can you please retest, and let me know if this needs to be re-opened?

[2015-02-03 06:10] #66 closed

[2015-02-03 19:42] mkaz opened #147 "Atom.Object.defineProperty.get is deprecated."
Upgraded to 0.177.0 and now this issue:

atom.services is no longer available. To register service providers and
consumers, use the `providedServices` and `consumedServices` fields in
your package's package.json.
[code]

[2015-02-03 20:13] joefitzgerald commented on #147
Thanks @mkaz, I'm aware of this - see https://github.com/atom/atom#5277

[2015-02-03 22:07] dbperez opened #148 "Atom.Object.defineProperty.get is deprecated."
atom.services is no longer available. To register service providers and
consumers, use the `providedServices` and `consumedServices` fields in
your package's package.json.
[code]

[2015-02-04 00:07] mishak87 commented on #66
Yes it works, thank you so much for your awesome work!

[2015-02-04 00:51] mishak87 commented on #67
Could it be revisited? Linter has grown a bit and provides consistent and compact presentation for code related information (hints, warnings etc.) across languages and code checkers. *That said I have no idea if the API is mature enough or supports everything you would need to utilize it fully. Lot of linter plugins was created recently so that might be a good sign (over 70 in total).*

It would b

[2015-02-04 00:58] joefitzgerald commented on #67
The addition of package services reopens the possibility for this, particularly when apm installs required dependencies.

It's early days, and I've been defining the initial pattern for inter-package dependencies via the new autocomplete-plus API. I do want Linter's API to evolve to use a similar approach, and to evolve Linter's display logic. @park9140 and I have been discussing the possibilities

[2015-02-04 01:01] joefitzgerald commented on #67
Also, I fully acknowledge that atom-message-panel is no longer an ideal solution. We've floated creating an `omnipanel` package that would have a union of the functionality of linter's and atom-message-panel's line, gutter, and panel displays plus some additional behavior found in omnisharp-atom and a few other packages.

[2015-02-04 01:05] jokeyrhyme commented on #67
Is it worth reopening this issue then? Whether or not the implementation is for omnipanel or directly for linter?

[2015-02-04 01:09] joefitzgerald commented on #67
Not at this time. It requires multiple things to occur - some of which may never occur - to be fulfilled. Just know that architecturally, I'm headed in that direction if things fall into place.

[2015-02-04 18:52] #147 closed

[2015-02-04 18:52] #148 closed

[2015-02-04 20:03] rivo commented on #66
Working! That's a lot!

[2015-02-04 20:10] doug opened #149 "wrong choice with multiple go executables on path"
Bit of an edge case but if I have two executables on my path both called go but and one of them is not golang go, go-plus chooses the wrong one. Even if the default one is golang go I.E. `which go` produces the correct one, while `which -a go` produces the correct one and another program also called go. It tries to execute the last one in the path rather than the first one. I obviously just remove

[2015-02-04 20:21] joefitzgerald commented on #149
Thanks, this definitely sounds like undesirable behavior.

[2015-02-04 21:36] inando opened #150 "Show Test Coverage: undefined is not a function"
After running the 'Show Test Covarage' I get this error:

**Atom Version**: 0.177.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.1.3

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-05 07:59] nkev opened #151 "Atom.Object.defineProperty.get is deprecated."
I just installed Atom for the first time on my Macbook running Mavericks, then autocomplete-plus and finally go-plus, as per the repo instructions. Then I installed all the Go tools until I got the green "no issues". But there is still a yellow exclamation mark with a 1 next to it. When I click on it I see:

### Atom.Object.defineProperty.get is deprecated.

[code]

[2015-02-05 08:02] nkev commented on #151
Oops. Just saw the other issue entries.

[2015-02-05 08:02] #151 closed

[2015-02-05 16:27] peterwald opened #152 "Atom.Object.defineProperty.get is deprecated."
atom.services is no longer available. To register service providers and
consumers, use the `providedServices` and `consumedServices` fields in
your package's package.json.
[code]

[2015-02-05 16:39] joefitzgerald commented on #152
Update your packages and Atom, and restart. Dupe of #151, #148, #147.

[2015-02-05 16:39] #152 closed

[2015-02-05 19:57] inando opened #153 "Uncaught TypeError: Cannot read property '1' of null"
I got this error after saving a _test.go file

match = pre.exec(buffer.getText())
testPackage = match[1]   <------

**Atom Version**: 0.177.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.1.3

### Stack Trace

Uncaught TypeError: Cannot read property '1' of null

[code]

### Commands

[code]

### Config

[code]

### Installed

[2015-02-05 21:11] joefitzgerald commented on #153
Thanks for reporting. This seems related to #125.

[2015-02-06 08:15] JohanSJA commented on #11
+1

[2015-02-06 14:24] yriveiro commented on #119
I have this error too.

Uncaught BufferedProcessError: Failed to spawn command `go`. Make sure `go` is installed and on your PATH

Go: go1.4.1 darwin/amd64 (@/usr/local/bin/go)
GOPATH: /Users/yagoriveiro/Development/go
Cover Tool: /usr/local/Cellar/go/1.4.1/libexec/pkg/tool/darwin_amd64/cover
Vet Tool: /usr/local/Cellar/go/1.4.1/libexec/pkg/tool/darwin_amd64/vet
Format Tool: /Users/yagoriveiro/Dev

[2015-02-06 15:08] drewblas commented on #116
I too have this issue

1. Open a go file
2. Cmd+Shift+P and select "Gocover"

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10.2
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.1.3

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-06 19:25] llooz opened #154 "shortcut to run current package?"
Is there a way to run the current package with a shortcut or something like that?

[2015-02-06 21:31] esiqveland commented on #153
Just got this in OS X. While saving a _test.go file.

Thanks for a great package!

**Atom Version**: 0.177.0
**System**: OS X 10.10.1
**Thrown From**: go-plus package, v3.1.3

[code]

[2015-02-06 21:37] #125 closed

[2015-02-06 21:37] #153 closed

[2015-02-06 21:52] #150 closed

[2015-02-06 21:53] joefitzgerald commented on #130
This is fixed in `3.2.0`. You can now specify a list of scope(s) that the gocodeprovider will not be run in. You can also suppress FuzzyProvider for go files. Both available as preferences.

[2015-02-06 21:53] #130 closed

[2015-02-06 21:53] joefitzgerald commented on #116
This is fixed in 3.2.0.

[2015-02-06 21:53] #116 closed

[2015-02-06 21:54] joefitzgerald commented on #154
Not currently, but this would be nice. Happy to accept a PR. The primary issue is display of the program's output.

[2015-02-08 05:00] #142 closed

[2015-02-08 08:23] arunjit commented on #116
Fixed in the update, thanks!

[2015-02-08 19:21] joefitzgerald commented on #110
This was fixed in 6b79c68ec6d95e19f000db95a662f8cb8f415651.

[2015-02-08 19:21] #110 closed

[2015-02-13 16:51] swenson commented on #123
+1 -- would love for Godef support. (I did a read-through of the PR too, and it seemed sane to me. But I've only done a little bit of Atom development.)

[2015-02-15 21:07] 0xdabbad00 commented on #11
+1 The go-oracle package seems broken for me so I really want this so I can go to definitions.

[2015-02-18 19:00] caiiiyua opened #156 "Uncaught TypeError: Cannot read property 'add' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.180.0
**System**: Mac OS X 10.10
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.2.2

### Stack Trace

Uncaught TypeError: Cannot read property 'add' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-18 19:40] dbperez opened #157 "Uncaught TypeError: Cannot read property 'path' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.180.0
**System**: Mac OS X 10.10.2
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.2.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-20 21:23] nergdron opened #158 "gocode completion seems to break with current gocode release"
Using the latest gocode release, autocompletion with go-plus just results in a single entry saying "PANIC". When running gocode on the cli with -s, I get the following output when doing autocomplete events in atom:

panic: unexpected token: "?"
1(runtime.call16): /usr/local/go/src/runtime/asm_amd64.s:401
2(runtime.gopanic): /usr/local/go/src/runtime/panic.go:387
3(main.(*gc_parser).error): /home/g

[2015-02-20 23:36] joefitzgerald commented on #158
I re-ran the OS X CI job on the latest build, and it seems to imply that the issue is with your environment rather than the package itself: https://travis-ci.org/joefitzgerald/go-plus/builds/49918688

Could you please go to Packages > Go Plus > Display Go Information and paste the output. Also, please paste the output from `go env` in terminal...

[2015-02-23 16:31] michael-nischt opened #159 "Symbolic links and WARNING: does not reside within a "src" directory in your GOPATH"
I have the the the following GOPATH="/home/username/go"
and my project resides in "/home/username/projectname".

Further I have a symbolic link "/home/username/go/projectname" pointing to "/home/username/projectname".

So via the link the project files are inside the go workspace but upon every save I I get the following warning:
Warning: File [/home/username/projectname/file.go] does not reside w

[2015-02-23 17:20] joefitzgerald commented on #159
There are known issues with Symlinks and go itself. The core go team has effectively messaged to the community that they will not fix Symlink related issues and that they should - in general - be avoided in yiur GOPATH.

Search the issues in this repo for "symlink" for the backstory.

[2015-02-23 18:15] nergdron commented on #158
Yeah, it could be something in my environment for sure, I just can't see from the env what that might be, since everything else seems to be working correctly. Here's the env info:

Go: go1.4.2 linux/amd64 (@/usr/bin/go)
GOPATH: /home/graeme/code/go
Cover Tool: /usr/local/go/pkg/tool/linux_amd64/cover
Vet Tool: /usr/local/go/pkg/tool/linux_amd64/vet
Format Tool: /home/graeme/code/go/bin/goimports
L

[2015-02-23 18:40] nergdron commented on #158
Oh, it's probably worth noting that the gocode bit is the only part that doesn't work, everything else go-plus provides works beautifully, and the gocode integration was working as recently as a couple months ago.

[2015-02-23 20:31] michael-nischt commented on #159
oh, I was the impression that the warning is not from the official go tool chain but from the go-plus atom plugin since everything seems to work well except the warning being printed. my bad sorry.

[2015-02-23 23:26] mishak87 opened #160 "ENV GOPATH is being ignored (using GVM defaults)"
Launching atom from project directory with properly set env sets GOPATH to GVM default overriding what is in env.

Everything was working fine till last update. My flow
[code]

[2015-02-23 23:47] joefitzgerald commented on #160
If that's the case, it's an atom issue. Try reinstalling the command line tools, or file an issue with https://github.com/atom/atom

[2015-02-24 00:26] mishak87 commented on #160
Aha! Thank you! Will do!

[2015-02-24 00:26] #160 closed

[2015-02-24 12:37] vanackere commented on #157
Hi, same bug here with recent versions of atom. See how it was fixed in atom-typescript for example:

https://github.com/TypeStrong/atom-typescript/commit/ac3ca29a8ff1c2c1726a208b93d9d71c87b5726c

[2015-02-24 22:20] mishak87 commented on #91
This package is month old https://github.com/redefiance/atom-go-rename probably would be best to integrate?

[2015-02-25 02:16] freewil commented on #45
It would be nice to see the output of `go test [-v]` to see failing tests, but I could do without the background color changes from the code coverage results.

[2015-02-26 17:07] carlosbrando opened #161 "List all available packages"
GoSublime has this list that you can use to add and delete packages. I see this as an important addition to this awesome package as well.

![screen shot 2015-02-26 at 14 04 02](https://cloud.githubusercontent.com/assets/2035/6396981/93166c26-bdc0-11e4-9146-bd74d513ca49.png)

[2015-02-26 17:09] joefitzgerald commented on #161
`goimports` largely obviates the need for this...

[2015-02-26 17:13] carlosbrando commented on #161
Yeah, but to `goimports` do its job it's necessary to remember the name of the package and the exact name of the function you are looking for without using the autocomplete function.

Is it possible to autocomplete suggest possible imports when autocomplete fails to find a match?

[2015-02-26 17:19] joefitzgerald commented on #161
This sounds like a great use case for an autocomplete-plus provider, that can help you with defining packages. It would only return suggestions when inside an import block. We might need to adjust the grammar to explicitly define when you are importing. Right now I see the cursor having the following scope inside an punctuation.definition.string.end.goimport("...")` or `import ""` block: `punctuat

[2015-02-27 23:59] andreis commented on #106
:+1: for Joe's solution

[2015-02-28 16:08] vanackere commented on #157
By the way, this is easy to reproduce by simply clicking on any compile warning/error in the console (same bug occurs also on linux and windows...)

[2015-03-01 00:30] arashpayan commented on #157
Experiencing the same as @vanackere. Clicking any compiler warning in the console triggers this, even after a fresh launch.

[2015-03-01 00:50] joefitzgerald commented on #157
This is fixed in the dependent component but it requires an uninstall / install or an apm install in the package directory to resolve. As a result, I will publish a patch release so you don't have to deal with that.

[2015-03-01 00:57] joefitzgerald commented on #157
Fixed in 3.2.3.

[2015-03-01 00:57] #157 closed

[2015-03-02 23:02] dmikalova opened #162 "GOPATH not set unless run from CLI."
I get the following warning when starting Atom from Spotlight in OSX:
GOPATH: Not Set (You Should Try Launching Atom Using The Shell Commands...)
It works fine if I run atom from a terminal.

[2015-03-02 23:06] joefitzgerald commented on #162
Yes. I built the feature to warn you that you need to launch from a terminal window. The way OS X launches processes means that your user environment in your shell is not passed to launchd initiated processes (i.e. anything launched from Spotlight, Dock, Finder).

This is not an issue with Atom, or the package, and the warning is there to warn you that you should launch via the shell commands.

[2015-03-02 23:06] #162 closed

[2015-03-03 06:26] hackwaly opened #163 "Support Strategy-Based Approach For Determining GOPATH In The Current Workspace"
https://github.com/DisposaBoy/GoSublime/blob/master/USAGE.md#per-project-settings--project-based-gopath
It's useful if you want to put your projects outside of $GOPATH.

[2015-03-04 03:36] genghisjahn opened #164 "Uncaught TypeError: Cannot read property '0' of undefined"
[Enter steps to reproduce below:]

1. Reference a type that does not exist in a .go file.
2. Hit save, to see the red line items that show the undefined type.
3. Click to go to the line that references the type...boom.

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.2.3

### Stack Trace

Uncaught TypeError: Cann

[2015-03-04 16:00] genghisjahn commented on #164
In the `go-plus` output at the bottom of the atom editor is where the problem occurs.
![screen shot 2015-03-04 at 10 57 41 am](https://cloud.githubusercontent.com/assets/921877/6487159/91725dac-c25d-11e4-8741-3f09fdd8e95c.png)

If I click on any of those items (red or orange) the error occurs.

[2015-03-04 17:02] joefitzgerald commented on #164
Please update your version of atom to the latest version (currently `0.186.0`).

[2015-03-04 17:56] genghisjahn commented on #164
All this time I thought I was updating.  My Atom install is hanging on the download part.  Keeps saying it's done but I'm still on the old version.  Anyway, not your problem.  Sorry to bother you.

[2015-03-04 17:59] genghisjahn commented on #164
Finally got it to update.  This indeed take care of the issue.  Closing.

[2015-03-04 17:59] #164 closed

[2015-03-04 23:48] james-lawrence commented on #163
https://bitbucket.org/jatone/gilo will give you this. follow the instructions.

There are instructions in the readme for the project to create the shim for the atom editor.
once you've created the shim you can just go to your project directory and execute the following commands
[code]

[2015-03-05 11:22] dgryski opened #165 "go-plus doesn't seem to work with GOPATH's with multiple entries"
My current environment has `GOPATH=/home/dgryski/work/src/cvs/gocode:/home/dgryski/Dropbox/GITS/gocode/`

go-plus gives the warning `Warning: GOPATH [/home/dgryski/work/src/cvs/gocode] does not exist` (which is does).

It also fails to have autocomplete work (since I suppose it can't find the packages), and `go build` also fails because it can't find packages.

[2015-03-05 19:34] james-lawrence commented on #165
it does work with multiple paths (I use them with it quite successfully). Most likely an environment/settings issue. especially if go build is fairly by itself.

[2015-03-05 19:43] joefitzgerald commented on #165
@dgryski confirmed that if he launches from the terminal and leaves the GOPATH setting (in go-plus package settings) unset, things work as expected. He instructed me to close the issue.

[2015-03-05 19:43] #165 closed

[2015-03-05 23:27] phenixrizen commented on #117
I'm still experiencing this issue

[2015-03-05 23:27] joefitzgerald commented on #117
Update your version of atom.

[2015-03-09 15:39] dbperez commented on #11
+1 Would be incredibly useful.
Great plugin so far!

[2015-03-10 14:15] daMupfel opened #167 "Gocode problem with sub packages"
gocode autocompletion does need seem to update if you change a sub package. For Example:

We have two packages. main and ffmpeg:
git.private.in/project/ffmpeg/ffmpeg.go
git.private.in/project/main.go

If you change something in ffmpeg.go the changes are not reflected in the autocompletion in main.go.

I think this is because go-plus only is doing ```go build```. This does not update the compiled f

[2015-03-10 18:14] joefitzgerald commented on #167
An interesting dialogue from gophers.slack.com (@fatih is the author of vim-go):

[2015-03-10 18:15] joefitzgerald commented on #167
I think perhaps a middle-ground would be to provide a command for running `go install ./...`, with an associated keybinding.

[2015-03-10 18:47] joefitzgerald commented on #158
Do you still have this issue? It might be worth deleting `$GOPATH/bin/gocode` and `$GOPATH/src/github.com/nsf/gocode` and trying again.

[2015-03-10 18:49] joefitzgerald commented on #156
Please update `atom` to the latest version (currently `0.187.0) and try again. Please also ensure you're running the latest versions of `autocomplete-plus` and `go-plus`.

I think this may have been an atom issue. `add` is a function from `atom.commands` which should never be undefined unless atom is broken.

[2015-03-10 18:49] #156 closed

[2015-03-10 18:50] #159 closed

[2015-03-10 18:59] joefitzgerald commented on #163
This seems like a problem with potentially numerous solutions, each of which may be determined by the user's preferences or the state of the current package. This suits itself well to a pluggable approach which can be extended by other packages.

I plan to:

1. Extract the core go runtime and environment detection to a separate package
1. Add a provider model to that package for determination of G

[2015-03-10 19:24] daMupfel commented on #167
I see, but i rather would like not to type a command every time. Maybe a toggle where the user can choose? I don't know why go install should be that more resource intensive. It does the same thing i thought, it just adds the .a files to pkg instead of a temp directory and places the executable inside bin instead to /dev/null. (of course not with go install ./..., but you can give it the package t

[2015-03-12 03:13] apoydence opened #169 "Uncaught Error: ENOENT, no such file or directory '/Applications/Atom.app/Contents/Resources/app/node_modules/6to5-core/node_modules/regenerator-6to5/node_modules/commoner/node_modules/glob/glob.js'"
[Enter steps to reproduce below:]

1. Installed vim-mode
2. Re-opened atom

**Atom Version**: 0.179.0
**System**: Mac OS X 10.9.5
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.3.0

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/Applications/Atom.app/Contents/Resources/app/node_modules/6to5-core/node_modules/regenerator-6to5/node_modules/comm

[2015-03-12 03:16] joefitzgerald commented on #169
Please update atom and all your packages.

[2015-03-12 03:17] #169 closed

[2015-03-12 04:17] mvryan commented on #127
I would love this with go install to save me keeping an extra terminal tab open.

[2015-03-12 20:28] nergdron commented on #158
Oh yeah, must've been some issue with my build, even though I'd tried to rebuild it multiple times. Removing entirely and then restarting atom sorted this out. Thanks for the advice!

[2015-03-12 20:28] #158 closed

[2015-03-15 14:41] JohannWeging opened #170 "Autocompletion of function broken"
The last parameter of a function with a parameter count > 1 is undefined:
[code]

Pull request #171 fixes this.

System Info:
[code]

[2015-03-15 18:26] #170 closed

[2015-03-17 01:03] JohannWeging opened #172 "Autocompletion of functions is broken when passing func() as parameter"
The autocompletion is broken, when the function which is completed has a `func()` as parameter.

[code]

The `funcRegex` doesn't handle the inner brackets and stops at the first `)` found.

[2015-03-17 21:02] pierrre opened #173 "Gocover Uncaught TypeError: Cannot read property 'isValidEditor' of null"
[Enter steps to reproduce below:]

1. Open a Go file
2. Run gocover
3. It shows an error, but it works

**Atom Version**: 0.187.0
**System**: linux 3.18.6-1-ARCH
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.3.1

### Stack Trace

Uncaught TypeError: Cannot read property 'isValidEditor' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packa

[2015-03-21 20:12] Matt3o12 commented on #172
I have a hard time understanding what the problem is.
`func foo(func(a int) int)` doesn't make any sense to me. Did you mean `func foo(bar func(a int) int)`?

Furthermore, I don't know what autocomplete is supposed to do or what the error looks like.

[2015-03-22 00:34] JohannWeging commented on #172
Yes I mean `func foo(bar func(a int) int)`, updated the original post. Autocomplete should produce something along the line:
`foo(${1:bar func(a int) int})`

[2015-03-22 12:42] acid009 commented on #11
+5

[2015-03-22 16:34] lihaiyang opened #175 "missing tool: lint, oracel, cover"
Go: go1.4.2 darwin/amd64 (@/usr/local/bin/go)
GOPATH: /Users/baidu/code/go
Cover Tool: Not Found (Is Mercurial Installed?)
Vet Tool: /usr/local/Cellar/go/1.4.2/libexec/pkg/tool/darwin_amd64/vet
Format Tool: /usr/local/Cellar/go/1.4.2/libexec/bin/gofmt
Lint Tool: Not Found
Gocode Tool: /Users/baidu/code/go/bin/gocode
Gocode Status: Enabled
Oracle Tool: Not Found
Git: /usr/bin/git
Mercurial: /usr/lo

[2015-03-24 13:16] LukeMauldin opened #176 "Build errors are not available"
See the screenshot below.  Goplus marks a line as having an error, but I cannot find a way to get the text of the error.  Even if I show the message panel, the error is not shown.  The error should be "./main.go:24: assignment count mismatch: 2 = 1"
Config info
[code]

![screen shot 2015-03-24 at 8 14 46 am](https://cloud.githubusercontent.com/assets/1440808/6802372/dee991fe-d1fd-11e4-96ac-1460a68

[2015-03-24 14:43] luke0x commented on #106
+1

[2015-03-24 16:07] joefitzgerald commented on #106
@luke0x +1 for the issue or the solution? Are you still having issues?

[2015-03-24 16:08] joefitzgerald commented on #176
@LukeMauldin could you please set `showPanel` to true in your config? This is suppressing the errors.

[2015-03-24 16:11] joefitzgerald commented on #175
In your terminal, run:

`go get -u github.com/golang/lint/golint`

`go get -u golang.org/x/tools/cmd/cover`

`go get -u golang.org/x/tools/cmd/oracle`

Let me know if you have errors getting any of them.

[2015-03-24 16:52] luke0x commented on #106
+1 solution 😀

[2015-03-25 15:20] LukeMauldin commented on #176
This resolved the issue, thank you.

[2015-03-25 15:20] #176 closed

[2015-03-25 22:27] zmb3 commented on #91
I'd appreciate if someone could review and comment on my pull request for this.  There's a few things I can't quite figure out and a lot of things I'm sure could be done better.

https://github.com/joefitzgerald/go-plus/pull/174

[2015-03-26 22:38] philk opened #177 "Autocomplete triggering on comma"
You can't really see my cursor in this screenshot but it's right after I type the comma that the autocomplete window pops up. Annoying mainly because I so often want to hit enter to go to the next line right after typing a comma (instead I get an arbitrary autocomplete).

![screen shot 2015-03-26 at 3 25 42 pm](https://cloud.githubusercontent.com/assets/29562/6858518/6f3bd1e8-d3cc-11e4-849f-4d00d5

[2015-03-26 23:11] dbmlabs commented on #119
I"m having same problem as everybody above...golint is definitely in gopath

/Applications/Atom 2.app/Contents/Resources/app/src/buffered-process.js:104 Uncaught BufferedProcessError: Failed to spawn command `golint`. Make sure `golint` is installed and on your PATH

[2015-03-26 23:19] joefitzgerald commented on #119
@dbmlabs did you launch Atom from the terminal?

[2015-03-26 23:37] philk commented on #177
Relevant change in [autocomplete-plus](https://github.com/atom-community/autocomplete-plus/issues/341#issuecomment-86750262)

[2015-03-27 03:28] joefitzgerald commented on #177
Well considering I implemented this in autocomplete-plus (to accommodate another grammar), I should have expected a need to suppress go-plus suggestions as a countermeasure :wink:. I think you're right, we should maintain a blacklist of characters (or prefixes) for which we suppress autocomplete.

I think this should be a configurable list, so that the user can suppress other character(s) if they

[2015-03-27 03:29] joefitzgerald commented on #175
Did that fix your issue, or are you still experiencing it?

[2015-03-27 05:32] dbmlabs commented on #119
Hi Joe -- that worked.  Is this a permissions issue?

[2015-03-27 13:35] lihaiyang commented on #175
i run the three command, but i did not work.
[code]

[code]

[code]

[2015-03-27 18:38] philk commented on #177
Agreed, that probably means my PR #178 is too simplistic a fix and the real solution is way outside the realm of my Atom and coffeescript knowledge. Might try to learn something new and take a look over the weekend if I get a chance.

[2015-03-27 19:02] philk commented on #177
Ok, making it configurable wasn't actually that hard. I don't like forcing ` ` to be excluded but I couldn't come up with any reason why you'd want autocomplete to trigger on space and adding it to a space delimited list was...well yeah. Updated #178

[2015-03-27 19:25] zmb3 commented on #177
Would there be any value in having a configurable "opt-in" list or regex (instead of the "opt-out" list of characters to suppress?

Personally I think I'd like to be able to trigger _only_ on `.` or `,` (or manually via ctrl+space).  Sometimes I feel like invoking gocode for each keystroke is overkill.

[2015-03-27 19:40] joefitzgerald commented on #177
@zmb3: you can disable auto-activation for autocomplete-plus. In my experience, most people are fine with auto-activation (provided typing performance isn't impacted).

So no, I won't switch to an opt-in list or regex, but I'm fine having a list or regex that can be used to suppress activation which could be used to achieve precisely what you want (by including everything other than the characters

[2015-03-30 07:48] daMupfel commented on #167
Any updates or suggestions for this?

[2015-03-30 11:49] AlecTaylor opened #179 "npm ERR! syscall spawn"
Output from running `apm install go-plus`:
[code]

My `git` version is: `1.9.5.msysgit.0`.

[2015-03-30 21:37] mikeys commented on #117
Experiencing the same issue with the latest Atom: 0.188.0

[2015-03-30 21:44] joefitzgerald commented on #117
Launch from the command line. https://github.com/joefitzgerald/go-plus#gopath:

[2015-03-30 22:06] mikeys commented on #117
[code]

Packages => Go Plus => Get Missing Tools:
No Go Installations Were found

Am I doing something wrong?

[2015-03-30 22:11] joefitzgerald commented on #117
Can you paste your user config for `go-plus`:

`Atom > Open Your Config`, then copy the portion for the key `"go-plus"`.

[2015-03-30 22:12] joefitzgerald commented on #117
Also, what version of `go` do you have installed?

[code]

[2015-03-30 22:13] joefitzgerald commented on #117
Finally, please paste the output of `go env`.

[2015-03-30 22:14] mikeys commented on #117
Atom Config:
[code]

Go version:
[code]

[2015-03-30 22:15] mikeys commented on #117
[code]

[2015-03-30 22:16] joefitzgerald commented on #117
OK, delete your `goPath` configuration key in the Atom config and save it. You might also want to consider upgrading to `1.4.2` but that shouldn't be necessary.

[2015-03-30 22:19] mikeys commented on #117
Restarted atom (from shell) just to be on the safe side after removing the setting from the config file and saving it... still experiencing the same thing

[2015-03-30 22:27] joefitzgerald commented on #117
Can you paste the output from `Packages > Go Plus > Display Go Information`?

[2015-03-30 22:30] mikeys commented on #117
Just tried it, I get nothing back...

[2015-03-30 22:37] mikeys commented on #117
Upgraded to 1.4.2 through brew, still no go :(

[2015-03-30 22:44] joefitzgerald commented on #117
Can you open up the inspector (command-option-i) and let me know if there are any errors in the `Console`?

[2015-03-30 22:45] joefitzgerald commented on #117
Also @mikeys it might be more productive to join https://gitter.im/joefitzgerald/go-plus, so we can work through this interactively :smile:.

[2015-03-30 22:59] mikeys commented on #117
[code]

I can see it's trying to use `/usr/local/opt/go`, any chance it's trying to use this directory first?

[2015-03-30 23:03] joefitzgerald commented on #117
Yep, most likely `/usr/local/opt` is in your path, prior to `/usr/local/bin`. This is blocking the use of the correct go. This is a bug, and is represented in #149. I really need to fix this.

[2015-03-31 11:32] heroicyang commented on #167
+1 :smile:

[2015-04-01 02:36] #177 closed

[2015-04-01 07:57] cengizIO commented on #173
I can also replicate this on

**Atom Version:** 0.188.0
**System:** OSX 10.10.2, Kernel Version 14.1.0 x86_64
**Thrown From:** go-plus package, v3.3.2

[2015-04-03 08:41] floridoo commented on #167
+1

[2015-04-08 03:49] bassu commented on #172
This is very true. Completion is broken for functions which take functions as input. e.g. take http.HandleFunc method. Its completion definition shown is wrong.

![screen shot 2015-04-08 at 8 47 17 am](https://cloud.githubusercontent.com/assets/977697/7038486/ef36b332-ddcb-11e4-8aff-49b2ac395875.png)

[2015-04-08 07:50] svanharmelen commented on #173
Same here...

Atom Version: 0.189.0
System: OSX 10.9.5
Thrown From: go-plus package, v3.3.5

[2015-04-08 15:34] anweiss opened #181 "Auto indent behavior with closures"
I'm noticing that if I write a function closure and create a new line with my closing curly brace and parend, it auto indents the characters as shown below:

[code]

Is there a way I can configure this package to not do this? Granted, while saving the file will execute gofmt and fix this for me, it's still a bit of a nuisance when writing code.

[2015-04-08 18:20] JoelHobson commented on #179
Oddly, I'm having the same/a similar problem, on OSX. The difference is when I run `apm install go-plus`, it works fine. This output came from trying to update within atom. Both our logs start with the same warning, but I'm not sure of its significance.

[code]

My `git` version is 1.9.5 (Apple Git-50.3)

[2015-04-08 19:19] joefitzgerald commented on #181
This likely has nothing to do with go-plus and is instead caused by either the language-go grammar or the bracket-matched package. To verify, disable go-plus, and try to reproduce. If it can only be reproduced while go-plus is enabled, then it's an issue with this package. If it's reproducible when go-plus is disabled, perform the same action of trying to rule in/out the language-go package and th

[2015-04-08 19:30] joefitzgerald commented on #181
See also: https://github.com/atom/language-go/issues/31#issuecomment-90877896

[2015-04-08 19:30] #181 closed

[2015-04-09 04:59] joefitzgerald commented on #149
Fixed in ad879a530d9d11dcd18a1ec8b28e014f68c74fe5.

[2015-04-09 04:59] #149 closed

[2015-04-10 13:37] clns commented on #11
Is there any new progress on this? I see the [go-oracle](https://github.com/joefitzgerald/go-plus/tree/go-oracle) branch but it hasn't been updated in almost a year.

[2015-04-12 04:05] vijayee opened #182 "Uncaught TypeError: Cannot read property '0' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.165.0
**System**: linux 3.13.0-48-generic
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.3.6

### Stack Trace

Uncaught TypeError: Cannot read property '0' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-04-12 04:27] joefitzgerald commented on #182
Please update your version of Atom. The latest is >= 0.190.0 and you're on 0.165.0.

[2015-04-12 04:27] #182 closed

[2015-04-12 16:32] james-lawrence commented on #163
@joefitzgerald I'll be happy to do a proof of concept integration with gilo (which supports requests for directory/filepath look ups already) for this when you have the groundwork laid out for the package depedencies.

[2015-04-16 00:44] sergiotapia opened #183 "Saving my file with CMD+S is add/removing tabs randomly."
I'm using latest Atom and latest go-plus.

Whenever I save a .go file, it randomly either modifies a bunch of stuff by adding or removing spaces.

Check it out:

[code]

And other times it's the direct inverse of that commit. Why is it moving things to and fro?

[2015-04-18 15:12] zmb3 commented on #177
I'm still seeing autocomplete-plus suggestions even for suppressed characters.  My suppressed characters setting is `), space, ;, :, comma, /`.  Using Atom 0.192.0, Go Plus 3.3.6, Autocomplete Plus 2.10.0, on Windows.

![image](https://cloud.githubusercontent.com/assets/7527103/7215989/cf397144-e5bb-11e4-9d4f-937433a8b860.png)

[2015-04-18 16:15] svanharmelen commented on #177
@zmb3 PR #180 fixes a problem that causes this... But I'm adding an additional feature to that PR which let's you check a boolean to suppress all non word characters. So I hope the PR will be open for another day (until I got time to commit the update) after which it can be merged to fix the current autocomplete bug...

[2015-04-19 11:29] Moter8 opened #184 "Cover/Vet were not installed/found, hg is available."
[code]

[code]

Compiled Atom yesterday, installed `go-plus` today.

[2015-04-20 15:50] joefitzgerald commented on #11
Yes, see #137. I just need to get an API added to https://atom.io/packages/symbols-view.

[2015-04-20 15:51] joefitzgerald commented on #11
Closing in deference to #137.

[2015-04-20 15:51] #11 closed

[2015-04-20 23:46] joefitzgerald commented on #21
I would like to see this done via an integration with [godebug](https://github.com/mailgun/godebug). If anyone would like to contribute I would *gladly* accept a PR for this, otherwise I will get to it after I have cleared the current backlog of PRs.

[2015-04-20 23:50] nkev commented on #21
@joefitzgerald https://github.com/derekparker/delve is all the rage at the moment. It even has an API for IDE's now. The author, Derek Parker is speaking (about it I presume) at Gophercon this year.

[2015-04-20 23:52] joefitzgerald opened #185 "Case Mismatch Disabled Suggestion Confirmation"
[From https://github.com/atom-community/autocomplete-plus/issues/393]

Matches are highlighted in the autocomplete list even if case does not match. For example, `time.mil` and `time.Mil` both highlight the `Millisecond` constant from Go's `time` package.

However, pressing tab with input `mil` just dismisses the list of matches; only `Mil` auto-completes the suggestion.

Expected behavior is that

[2015-04-21 04:56] joefitzgerald commented on #172
This is a problem related to the regex used to process the suggestion. In fact, this actually precludes the use of a regex because javascript regex's cannot use lookbehind. To fix this, we will need to write a custom parser that can count parenthesis.

[2015-04-21 12:22] JohannWeging commented on #172
Custom parser can be found in my original PR #114.

[2015-04-22 21:33] taylorludwig commented on #167
fwiw gocode's autobuild option does the trick for me `gocode set autobuild true`

[2015-04-22 22:04] joefitzgerald commented on #167
Interesting. `autobuild` and `propose-builtins` are both options we might want to enable by default, and make configurable. Thoughts on adding that?

[2015-04-22 22:31] daMupfel commented on #167
If it works i would be happy with it. Last time i tried it was not 100% reliable. One thing to consider is, that this gocode options are than set global since default all clients use the same gocode server. But i guess there won't be many issues with that.

[2015-04-25 08:00] cuitao2046 commented on #175
I got the same problem. I tried to get the package with the latest version of go (1.4.1), still failed with these error messages.
I am working with OSX yosemite 10.10.
Can someone help me out?

[2015-04-25 16:56] wwkeyboard commented on #184
I'm having the same problem on OSX

[code]

[2015-04-25 17:04] wwkeyboard commented on #184
I `rm`ed `$GOPATH/src/golang.org/x/tools` and reran the imports suggested here https://github.com/joefitzgerald/go-plus/issues/175#issuecomment-85584996. It seems to have fixed the problem.

[2015-04-27 17:09] joefitzgerald commented on #184
Thanks @wwkeyboard.

[2015-04-27 17:09] #184 closed

[2015-04-27 17:09] joefitzgerald commented on #175
Please follow these instructions to fix the issue: https://github.com/joefitzgerald/go-plus/issues/184#issuecomment-96236723

[2015-04-27 17:09] #175 closed

[2015-04-27 17:11] joefitzgerald commented on #179
Please update your version of git.

[code]

[2015-04-27 17:11] #179 closed

[2015-04-28 07:05] yayanyang opened #186 "Workspace.getActiveEditor is deprecated."
Call ::getActiveTextEditor instead
[code]

[2015-04-28 07:05] yayanyang opened #187 "TextEditor.getUri is deprecated."
Use `::getURI` instead
[code]

[2015-04-29 06:02] poga opened #188 "Fuzzy auto-complete does not work"
When I type `rents` in Ruby code, auto-complete can provide suggestion as `render_to_string`.
However, if I type `RegHa` in Go code. it does not provide suggestion `RegisterHandler`.

Typing `Reg` does show suggestion as "RegisterHandler", so I guess it's related to fuzzy string matching?

![auto-complete](https://cloud.githubusercontent.com/assets/8631/7385418/367d197c-ee78-11e4-862d-08a0e1f91b60

[2015-04-30 08:13] Bandbaz95 commented on #175
I have the same problem and there is no $GOPATH/src/golang.org/x/tools

[2015-04-30 13:54] svanharmelen commented on #167
I noticed that autocomplete sometimes doesn't work well. Mostly when autocompleting 3rd party packages. When switch to sublime quickly to compare, it does the expected autocompletion correctly in there. Now the funny thing is that if I then switch back to Atom and try again, the autocompletion suddenly does work as expected??

So I figured this behaviour is maybe somehow related to this discussion

[2015-04-30 14:00] joefitzgerald commented on #167
@svanharmelen I suspect this is because sublime is bundling and launching gocode outside of a user's normal $GOPATH/bin. This would result in it daemonizing, and potentially occupying port(s) that would prevent another instance of gocode (at another path) from launching

Interesting observation though; I will take a look at how GoSublime is launching gocode.

[2015-04-30 14:41] joefitzgerald commented on #167
@svanharmelen yep, GoSublime has it's own wrapper around gocode (written in go) that imports gocode directly. Consequently, the gocode process is running in a binary located at a different path than $GOPATH/bin installed gocode. This could lead to two gocode processes trying to run at the same time, and they'll likely both try to use the same port: https://github.com/nsf/gocode/blob/9b760fdb16f18e

[2015-04-30 15:08] svanharmelen commented on #167
Well... It seems it's not really causing a conflict. Even stronger, it seems Atom starts completing a lot better when I started Sublime. So maybe Atom is now using the (embedded) gocode started by Sublime? If that is the case, it's interesting to understand why it can suddenly find completions it couldn't find before I opened Sublime.

[2015-04-30 16:27] joefitzgerald commented on #167
I think what GoSublime is doing is refreshing out of date .a files by doing what `go install` does, which is making gocode more accurate when it runs. I don't think there's any other interaction or port conflicts. See: https://github.com/DisposaBoy/GoSublime/blob/eac47136dbca59b6923c9932b21752aa406cd12d/src/gosubli.me/margo/m_gocode.go#L80

This represents a different philosophy to something like

[2015-04-30 18:23] cflewis opened #189 "Add option to disable warnings"
For reasons I can't go into, I have Go code that I edit outside of the `src` directory in my `GOPATH`. Every time I save a file, go-plus emits a warning, which I would like to disable. I would be happy to be able to disable all warnings.

Thanks!

[2015-04-30 18:30] joefitzgerald commented on #189
This seems reasonable.

[2015-04-30 18:31] joefitzgerald commented on #188
gocode is providing the suggestions. It doesn't do fuzzy matching; it only matches on exact matches for the prefix.

[2015-04-30 18:31] #188 closed

[2015-04-30 19:29] daMupfel commented on #167
I haven't tested this library but i found it yesterday on the explore page on githug:
https://github.com/constabulary/gb
Description:
By default gb always performs incremental compilation and caches the results in $PROJECT/pkg/. See the Flags section for options to alter this behaviour.

Would this work? Shouldn't every command work who is returning the same kind of data? go install and go build a

[2015-05-01 07:13] svanharmelen commented on #45
:+1: this would be a much appreciated and helpful feature!

[2015-05-01 07:31] svanharmelen commented on #167
@daMupfel not sure if adding more external dependencies (not part of the default Go tool chain) is the best approach, but I agree they should have the same pattern.

@joefitzgerald I think that would be a good approach, certainly if that would come with a setting like `Run Install On Save` to automatically call the command on each save so you can enable the "magic" if you choose so.

From a UX per

[2015-05-01 12:46] pkieltyka opened #190 "Type hinting on cursor hover"
Is there a way for go-plus, or something in combination with it to output the type of a variable or function definition where the cursor is placed? This is something GoSublime does in Sublime and its very useful. The auto-complete stuff is cool, albeit, a bit overzealous (ie. its code-completing in a comment...), but knowing the types of code once its already written would be very nice :)

[2015-05-04 13:06] dvirsky commented on #127
+1 I'd love to see something like `go build -o <current_folder_name> && ./<current_folder_name>`. Very useful for running apps directly from the editor, and can be used for non trivial apps as well.

[2015-05-05 15:07] hink opened #191 "Function Seperators"
Is it possible to add an option for function separators -- a horizontal rule between functions/structs/interfaces?

[2015-05-05 15:08] joefitzgerald commented on #191
@hink that seems a bit orthogonal to the purpose of this package, but help me understand what this would look like with a screenshot.

[2015-05-05 15:13] joefitzgerald commented on #190
I agree, this is worth doing.

You can suppress completion in a comment via the `Autocomplete Scope Blacklist` preference, which is set by default to a scope of `.source.go .comment`. If you're getting suggestions in comments, they're not coming from gocode, they are from other packages you have installed. You can suppress scopes for all providers using the autocomplete-plus preference: `Scope Bla

[2015-05-05 15:15] joefitzgerald commented on #187
Fixed in `v3.3.10`.

[2015-05-05 15:15] #187 closed

[2015-05-05 15:15] joefitzgerald commented on #186
Fixed in `v3.3.10`.

[2015-05-05 15:15] #186 closed

[2015-05-05 15:17] joefitzgerald commented on #183
I think this is an issue with the `language-go` grammar. See https://github.com/atom/language-go/issues/31 / https://github.com/svanharmelen/language-go/commit/b0e68b80b46d6f136cedcac3b7aa1e1dc5e13baf.

[2015-05-05 15:17] #183 closed

[2015-05-05 15:20] hink commented on #191
Sure thing -- The idea is to assist in quickly identifying blocks of code.
![Pycharm Example](http://i.imgur.com/LhsRGIE.png)

[2015-05-05 15:22] joefitzgerald commented on #173
I am unable to reproduce this issue on `v3.3.10`. I did perform work to prevent this in a prior version (I think `v3.3.5`), but can you please retest? It looks like you were using the menu command or the keyboard shortcut to show test coverage.

[2015-05-05 15:35] joefitzgerald commented on #191
@hink This problem is generic and solvable for all grammars (`language-go` being just one of them). It sounds like a good idea for a new package for Atom.

You might want to ask a question in https://discuss.atom.io (supplying that screenshot) asking if anyone has already done this, and if not how you might go about building a package to achieve that user experience.

[2015-05-05 15:35] #191 closed

[2015-05-06 14:33] pierrre commented on #173
It works now on `v3.3.10`.
Thank you!

[2015-05-06 14:33] #173 closed

[2015-05-06 21:32] nebulae1 opened #192 "Workspace.getActiveEditor is deprecated."
Call ::getActiveTextEditor instead
[code]

[2015-05-07 00:11] joefitzgerald commented on #192
Please update go-plus. This is already fixed.

[2015-05-07 00:11] #192 closed

[2015-05-07 20:22] nebulae1 opened #193 "Workspace.getActiveEditor is deprecated."
Call ::getActiveTextEditor instead
[code]

[2015-05-07 20:22] nebulae1 commented on #193
Everything is up-to-date and I am still receiving this error.

[2015-05-07 20:42] joefitzgerald commented on #193
Firstly, it's just a deprecation warning - you can safely ignore it. Secondly, give it a few more releases and it'll go away. Alternatively, if it's driving you up the wall, uninstall go-plus, and re-install it.

[2015-05-07 20:43] #193 closed

[2015-05-07 21:40] joefitzgerald commented on #185
This is super annoying. Will fix it ASAP.

[2015-05-08 00:28] hebl opened #194 "Workspace.getActiveEditor is deprecated."
Call ::getActiveTextEditor instead
[code]

[2015-05-08 05:00] daMupfel commented on #194
#193 #192 #186

[2015-05-08 12:00] #194 closed

[2015-05-10 06:40] nmabhinandan opened #195 "Lower case completion."
If there is an exposed function in a package like this,

[code]

And if I try to access it like this,

[code]

The autocomplete shows the `TestFunc()` in autocompletion list, but it doesn't write out when I press Tab or Enter.

[2015-05-11 16:05] nmabhinandan opened #196 "Workspace.getActiveEditor is deprecated."
Call ::getActiveTextEditor instead
[code]

[2015-05-13 00:53] liouys opened #197 "Workspace.getActiveEditor is deprecated."
Call ::getActiveTextEditor instead
[code]

[2015-05-13 00:53] #197 closed

[2015-05-15 03:51] joefitzgerald commented on #195
Duplicate of #185. This is now bugging the hell out of me, so a fix is forthcoming soon!

[2015-05-15 03:52] joefitzgerald commented on #195
Duplicate of #185. This is now bugging the hell out of me, so a fix is forthcoming soon!

[2015-05-15 03:52] #195 closed

[2015-05-15 04:18] nmabhinandan commented on #195
:+1:

[2015-05-15 04:48] #185 closed

[2015-05-15 05:02] joefitzgerald commented on #196
This is now fixed. Please update.

[2015-05-15 05:02] #196 closed

[2015-05-15 12:43] herzi opened #198 "Did not find my go-installation"
I have installed go into the prefix `~/.local` (so the `go` binary is located at `~/.local/bin/go`).

`go-plus` complains that “No Go Installations Were Found”. Maybe it could check for my shell and try to execute `which go` using my shell to find the location of the Go Installation.

[2015-05-15 13:33] joefitzgerald commented on #198
You should:
1. Ensure `~/.local/bin` is in your `PATH`
1. Launch atom from the shell

[2015-05-15 23:54] MoragS commented on #175
I had the same issue under Windows and it was resolved by setting a temp GOPATH (`set GOPATH=C:\go`) before running `go get`...
Usually when that happen on my system it's somehow related to non-ASCII characters on the path. As Go uses UTF-8 by default it might be less likely in this case, but still worth mentioning.

[2015-05-16 08:01] herzi commented on #198
`PATH` was already set up properly.

Launching Atom from the command line worked. Should we keep this ticket open until this works when atom gets started from the OSX dock or Spotlight (which is how I usually start my apps)?

[2015-05-16 13:54] joefitzgerald commented on #198
See the readme / the need to launch from the terminal is somewhat unavoidable but you can configure a fallback by explicitly configuring your gopath in go-plus config.

But it's a best practice to launch from terminal when working with go so your current environment is available to atom.

[2015-05-16 13:54] #198 closed

[2015-05-19 20:05] GeorgeLyon opened #199 "Support for cross-compile"
Add options to specify which GOARCH, GOARM and GOOS to use for go commands

[2015-05-19 23:05] joefitzgerald commented on #199
What's the driver for this? go-plus isn't for distribution of binaries - that responsibility belongs in your CI tool of choice.

[2015-05-19 23:44] GeorgeLyons commented on #199
Some packages have special API for (for instance) linux that is not available on Darwin. So, when you save the file on a Mac, go-plus picks up errors, even though it would compile fine with the proper environment variables

[2015-05-20 00:26] joefitzgerald commented on #199
This makes sense. Thanks for the explanation.

[2015-05-20 14:04] mat007 opened #200 "launching atom from mingw32 shell"
Hi,

I'm on Windows 8 trying to have go-plus find my go installation.
When doing from a cmd.exe

[code]

go-plus is able to find go.exe

However when doing the same from a minwg32 shell

[code]

go-plus states "No Go Installations Were Found".

I'm open to suggestions as to how to fix the syntax for the PATH format but I've tried many.
Is there anything which may prevent it from working or have I

[2015-05-20 14:13] joefitzgerald commented on #200
Set your environment such that it persists across user sessions / reboots. The dialog is the simplest way to do this: https://www.microsoft.com/resources/documentation/windows/xp/all/proddocs/en-us/sysdm_advancd_environmnt_addchange_variable.mspx?mfr=true

Atom doesn't inherit the session from your mingw32 shell, even though you're launching it from there. Setting the environment variable globally

[2015-05-20 14:24] mat007 commented on #200
My environment must be able to handle several installations of go (with potentially different versions), so I need a means to easily launch an instance of atom targeting a specific installation.

But I don't really understand why it doesn't work in the first place (even when invoking cmd.exe with a .bat file from minhw32 it still doesn't pick go.exe).
Does this have to do with atom or could I have

[2015-05-20 14:40] joefitzgerald commented on #200
You have a means of launching it easily, using `cmd.exe`. Your issue is your use of minghw32, and the way processes are launched by it.

[2015-05-20 16:27] mat007 commented on #200
Actually after testing again it appears it doesn't work with cmd.exe either, it must have been a leftover from changing the PATH at the system wide location as you suggested in your first reply.
The following run from a fresh cmd.exe
[code]
yields a "No Go Installations Were Found".

I suppose the easiest way of debugging would be for me to add some logs in go-plus.

[2015-05-20 16:31] joefitzgerald commented on #200
Open the inspector (View > Developer > Toggle Developer Tools). In the console. type `process.env`.

[2015-05-20 21:23] mat007 commented on #200
OK so that made me realize that launching atom twice does not actually start two separate processes, but rather the second one is a child of the first one so it inherits its environment.

Anyway I managed to tweak the launch in order to obtain the following in atom:
[code]
As you can see I trimmed the path to the minimum.

When launching both from cmd.exe and mingw32 using the same command e.g.
[c

[2015-05-21 21:23] mat007 commented on #200
After learning how to use the debugger, setting a couple of breakpoints and inspecting I finally found the culprit.
The difference between the two environments is the case of the Path (cmd.exe) VS PATH (mingw32) variable name.

When I look at process.env in the console when launched from cmd.exe I can see the variable is named process.env.Path however if I type in process.env.PATH and hit enter it

[2015-05-21 21:32] joefitzgerald commented on #200
Sadly, the only reason why we have a special case for `Path` for windows is that - in fact - it does appear that node's process.env IS case-sensitive. But we should add more code to make this a happier path, resolving your issue in the process.

[2015-05-24 03:04] acidflip opened #201 "Uncaught TypeError: Cannot read property 'match' of undefined"
[Enter steps to reproduce below:]

1. Packages > Go Plus > Check File Syntax

**Atom Version**: 0.201.0
**System**: Mac OS X 10.10.3
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.3.11

### Stack Trace

Uncaught TypeError: Cannot read property 'match' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-24 03:43] joefitzgerald commented on #201
Your config is wrong.

[code]

Unset that.

[2015-05-24 03:43] #201 closed

[2015-06-02 17:27] cyfdecyf commented on #158
I got exactly the same problem and solved by following @joefitzgerald's advice, thank you.

One thing to note: don't forget to kill previously started gocode process after reinstalling.

[2015-06-08 13:15] sulliwane opened #204 "apm install go-plus look for https://github.com/joefitzgerald/atom-message-panel.git ??"
apm install go-plus
Installing go-plus to /home/victor/.atom/packages ✗

npm ERR! Failed resolving git HEAD (https://github.com/joefitzgerald/atom-message-panel.git) fatal: ambiguous argument 'go-plus': unknown revision or path not in the working tree.
npm ERR! Failed resolving git HEAD (https://github.com/joefitzgerald/atom-message-panel.git) Use '--' to separate paths from revisions, like this:

[2015-06-09 09:57] sulliwane commented on #204
Hello!
I have this error when I try to install go-plus. I tried mith @version with no success, and I tried by git clone the repository and then apm install into the folder...but no success as well.

Any idea where this error come from ?

I'm on ubuntu 14.04,
atom 0.205.0,
apm  0.168.0
npm  2.5.1
node 0.10.35
python 2.7.6
git 1.9.1

Thank you !!!

[2015-06-10 15:46] gjmveloso opened #205 "Open go-plus 'Go Information' only when .go file is open or inside Go Workspace"
go-plus works great and really help when start discovering the Golang. One small suggestion will be to handle when go-plus 'Go Information' tab shows up. Currently is opening when Atom is launched even if you're opening a JavaScript or C# project/file.

Is there any way to prevent the 'Go Information' to be displayed every time?

[omnisharp](http://github.com/omnisharp/omnisharp-atom) have a good

[2015-06-10 21:57] firstrow commented on #161
autocomplete imports - must have.

[2015-06-12 18:17] dariusc93 opened #206 "Invalid Path"
When using go-plus, I keep getting an "cannot find package". Looking at the error it keep showing that it was looked in "/usr/lib/go/src" however, it is not looking at the path set in GOPATH (neither the system variable or the path in the configuration). Any solution to this? I havent had this issue with any other editor.

[2015-06-12 18:20] dariusc93 commented on #206
Nevermind. Found out that the path was from an old configuration that was never deleted in the past.

[2015-06-12 18:20] #206 closed

[2015-06-13 06:59] sulliwane commented on #204
Any idea about this issue? Thanks.

[2015-06-14 04:43] sulliwane commented on #204
I updated git :
#apm -v
apm  0.168.0
npm  2.5.1
node 0.10.35
python 2.7.6
git 2.4.3

but still the same error :

[2015-06-14 12:35] bassu commented on #12
There's also [DevDocs](devdocs.io)

[2015-06-15 13:51] sulliwane commented on #204
Problem solved! it was a "cache" problem. I downloaded go-plus from github, then edited package-json and changed "atom-message-panel": "git+https://github.com/joefitzgerald/atom-message-panel.git#go-plus" by "atom-message-panel": "git+https://github.com/joefitzgerald/atom-message-panel.git/#go-plus"

note the / after .git !!! it will bypass the cache...with npm you can delete the cache with "npm c

[2015-06-15 13:51] #204 closed

[2015-06-15 20:27] asmaloney opened #207 "Request: add support for gb"
**gb** from @davecheney uses a vendoring approach which puts all the vendor code alongside the src in a project directory.

So it would be nice to be able to run `gb build` instead of `go build` so we can avoid all the `cannot find package...` warnings.

http://getgb.io/

(It would also be nice to be able to get rid of the `Warning: File [/Users/Andy/foo/src/foo/foo.go] does not reside within a "s

[2015-06-15 21:35] Erwyn commented on #45
Same here would love to see failing tests…

[2015-06-16 22:11] gregz67 opened #208 "go test not running on save?"
`go test` does not appear to be running on save.  Can simply test by saving examples/gocover

atom 0.209.0
go-plus 3.3.11

[2015-06-16 22:15] gregz67 commented on #208
#45

[2015-06-16 22:15] #208 closed

[2015-06-17 13:19] ioriiod0 opened #209 "Failed to activate the go-plus package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.209.0
**System**: Mac OS X 10.10.1
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.3.11

### Stack Trace

Failed to activate the go-plus package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-17 21:04] gregz67 commented on #45
What are people using to get `go test [-v]` output while in atom.  I'd like to see test output on save.

[2015-06-21 11:33] budjizu commented on #207
+1

[2015-06-22 00:03] #123 closed

[2015-06-22 18:47] pookah-net opened #211 "Command failed: xcrun: error: active developer path... error message"
I got this, when I tried to update to go-plus 3.3.12:

    npm ERR! Command failed: xcrun: error: active developer path ("/Applications/XCode.app/Contents/Developer") does not exist, use `xcode-select --switch path/to/Xcode.app` to specify the Xcode that you wish to use for command line developer tools (or see `man xcode-select`)
    npm ERR!
    npm ERR!
    npm ERR! If you need help, you may rep

[2015-06-23 02:03] #211 closed

[2015-06-23 20:51] soygul opened #213 "Switch To Use gometalinter"
https://github.com/alecthomas/gometalinter

Just seeking to understand if this is a popular tool with the community. Given that it normalizes output from all known linters, can make linter editor integrations less manual.

[2015-06-23 22:03] joefitzgerald commented on #213
Indeed. I think gometalinter is great. I am going to be revisiting the way we run all the tools we use and integrate with https://github.com/atomlinter/linter. As part of this, I will look into the use of gometalinter.

[2015-06-23 22:06] soygul commented on #213
:+1:

[2015-06-24 08:06] tejainece opened #214 "Go to declaration and Find references/usage"
Thanks for a great Plugin. I am totally loving.

Would be great if "Go to declaration" and "Find references" feature is added.

Thanks!

[2015-06-24 09:54] tendertree opened #215 "Uncaught Error: Cannot find module 'emissary'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.211.0
**System**: Windows 8
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.3.12

### Stack Trace

Uncaught Error: Cannot find module 'emissary'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-24 12:03] joefitzgerald commented on #214
Go to declaration was released in `v3.3.12`. Command-option-G (and there is a menu item for it also).

[2015-06-24 20:03] ilgooz opened #216 "Autocomplete doesn't work for external packages"
It doesn't autocomplete any public methods, vars or structs of external packages

Go: go1.4.2 linux/amd64 (@/usr/local/go/bin/go)
GOPATH: /home/ilker/go
Cover Tool: /usr/local/go/pkg/tool/linux_amd64/cover
Vet Tool: /usr/local/go/pkg/tool/linux_amd64/vet
Format Tool: /home/ilker/go/bin/goimports
Lint Tool: /home/ilker/go/bin/golint
Gocode Tool: /home/ilker/go/bin/gocode
Godef Tool: /home/ilker/go/

[2015-06-24 22:07] mrkaspa opened #217 "Libraries not found when using GOM"
Whe using the library to manage the dependencies the atom plugin doesn't load the libraries https://github.com/mattn/gom

[2015-06-25 01:16] beefsack opened #218 "Delegate linter functionality to linter-(gotype,golinter,govet)"
Possibly relevant: https://github.com/joefitzgerald/go-plus/issues/67

I wanted to revisit this idea as it appears the AtomLinter plugins for [gotype](https://atom.io/packages/linter-gotype), [golint](https://atom.io/packages/linter-golinter) and [go vet](https://atom.io/packages/linter-govet) have all come a long way and work rather well.  They integrate cleanly into the Linter UI (which I've hea

[2015-06-25 01:19] joefitzgerald commented on #218
Great suggestion - I'm already headed in that direction. But those packages you described don't make use of the runtime detection and other goodness I'm building (e.g. Pluggable support for things like gb). Stay tuned for updates.

[2015-06-25 01:20] beefsack commented on #218
Brilliant, sounds good!

[2015-06-25 08:03] h12w opened #219 "Highlight only uncovered code"
Only uncovered code should be highlighted, the code becomes rather unreadable with the green and red stripes.
![screen shot 2015-06-25 at 4 10 18 pm](https://cloud.githubusercontent.com/assets/2070104/8350100/18bbefa8-1b55-11e5-9776-835707b17e79.png)

[2015-06-25 17:57] pires commented on #207
+1

[2015-06-25 18:52] joefitzgerald commented on #207
@pires, @budjizu, @asmaloney please know that I am working on setting the foundation for this. This will happen.

[2015-06-25 18:54] joefitzgerald commented on #207
I should note that it would be good to also build in support for the 1.5 flag for vendoring, which is implicit in this approach.

[2015-06-25 18:55] pires commented on #207
Awesome! You sir, rock.

[2015-06-25 20:07] asmaloney commented on #207
Thanks @joefitzgerald !  Awesome work.

[2015-06-25 20:11] MarcoDeBortoli commented on #175
@joefitzgerald sorry for getting back to this but I think I have some issues. It might be just a git/go one but I was maybe hoping you could have seen this error in the past and being able to help.
So this is the output I'm getting from go-plus console
[code]
And this is what I get when I try to download the tools manually.

[code]
It works fine on another mac with pretty much the same specs. Any

[2015-06-25 20:16] joefitzgerald commented on #175
Yep, this is likely because of the switch of go tools from google code to github.

A simple solution is to `rm -rf $GOPATH/src/golang.org/x/tools`, then fetch all the tools again. You may also need to clear out specific items from $GOPATH/src/bin.

[2015-06-25 20:17] MarcoDeBortoli commented on #175
I tried that multiple times already without, I even uninstalled go and reinstalled it from scratch. I can try again with the binary rather than the brew version but I'm pretty sure I'm going to the get the same problem.

[2015-06-25 20:22] joefitzgerald commented on #175
Try visiting https://go.googlesource.com/tools/ in your browser and make sure your computer trusts the certificate. You may be accessing the internet through a transparent proxy that is doing man in the middle HTTPS rewriting.

[2015-06-25 20:23] MarcoDeBortoli commented on #175
Ok this is the output with the binary version
[code]
Slightly better, it got cover at least this time.

[2015-06-25 20:25] joefitzgerald commented on #175
The binary install bundles cover. The brew version doesn't. Check your https pathway to the internet.

You could also try with a fresh `$GOPATH` directory, e.g. `$HOME/samplegopath`

[2015-06-25 20:32] MarcoDeBortoli commented on #175
Yup, certificates are fine and I can browse the URL without issues. Also I would exclude the proxy issue because I'm on a different network now from the one I was this morning and I still have the problem.
I'm going to give a go to the the user home approach and get back to you.
Thanks for you help so far.

[2015-06-25 20:50] MarcoDeBortoli commented on #175
Nope. It keeps failing. What can it be? I start thinking it's more a local problem related to certificates other than anything else.

[2015-06-25 21:03] MarcoDeBortoli commented on #175
I just found the problem. I have the following entry in my `.gitconfig` because at
work we use ithub enterprise, so I think we should call it a pebkac :(

[code]

[2015-06-25 22:39] nullstyle commented on #207
:+1:  awesome!

[2015-06-25 23:41] joefitzgerald commented on #175
Glad to hear you found the issue!

[2015-06-25 23:47] MarcoDeBortoli commented on #175
Yup, I just made the http config domain specific so that it doesn't apply to other public repository who uses http instead of ssh

[2015-06-26 02:05] hyper-carrot opened #220 "Where is the setting of gobin?"
I have a GOBIN setting in system environments, but go-plus has not. So that Atom can not found goimports, oracle,...

Please help me.

[2015-06-26 02:20] joefitzgerald commented on #220
Are you on OSX?

If so, please make sure you launch Atom from the terminal. OSX does not pass your shells environment to an app if you launch the app from Dock, Finder, Spotlight, or any launchd launched process without specific intervention by you in launchd

[2015-06-26 03:44] hyper-carrot commented on #220
@joefitzgerald  That's alright, thanks. But I think that the setting of GOBIN is useful.

[2015-06-26 04:37] dansouza commented on #191
@hink so did you ever figure this out?

[2015-06-26 04:44] joefitzgerald commented on #220
Sorry, I'm not clear on what your issue is. Did things work when you launched from the terminal?

[2015-06-26 08:03] cgfork opened #221 "split result by executing godef command wrong on windows"
in godef.coffee:59
[code]
if i found the definition of `RWMutex` by godef, t got `D:\go\src\sync\rwmutex.go:18:6`
The outputs is ['D', '\go\src\sync\rwmutex.go', '18', '6'] by splitting stdout with ':'.

[2015-06-26 08:14] madhon opened #222 "Mercurial Not been found even though source version installed (windows)"
When going to display go information it reports that i dont have mercurial installed, even though it is under the python scripts directory (win7 x64)

[code]
[code]

[2015-06-26 10:08] tristancaron opened #223 "OSX / AppEngine"
Hello,

I had configured go-plus but, it doesn't work.

No Go Installations Were Found
Atom: 1.0.0 (darwin x64 14.3.0)

GOPATH = ~/google-cloud-sdk/platform/google_appengine/gopath
Go installation path = ~/google-cloud-sdk/google-cloud-sdk/bin/goapp

Thank you for your help.

[2015-06-26 10:28] hyper-carrot commented on #220
@joefitzgerald Actually, My question is:  go-plus has a lot of options, why not have this option (GOBIN)?

btw: there is no problem when I launch Atom from the terminal.

[2015-06-26 12:54] Liamsi opened #224 "Issue links in message panel do not work with several projects"
Steps to reproduce:
- Open two independent go projects by 'add project folder' (proj1, proj2)
- if there is an issue in proj2: clicking on the shown link the message panel tries to open a (nonexistent) file from proj1

Possibly this is an issue in every project using atom-message-panel: https://github.com/tcarlsen/atom-message-panel/blob/master/lib/LineMessageView.js#L54 in combination with: https

[2015-06-26 13:16] joefitzgerald commented on #223
Duplicate of #76. I'm working on allowing different build tools to be used (i.e. to support gb), so the hooks will soon be there to support this.

[2015-06-26 13:16] #223 closed

[2015-06-26 13:18] joefitzgerald commented on #220
Because you can set it in the environment.

[2015-06-26 13:18] #220 closed

[2015-06-26 14:56] marconi commented on #161
+1 to this, I miss this coming from `GoSublime`

[2015-06-26 16:16] hyper-carrot commented on #220
I can set GOPATH in the environment, too. This is not a reason, right?

[2015-06-26 16:18] joefitzgerald commented on #220
Allowing the setting of GOPATH is simply a fallback for a case when someone launches Atom from the dock / finder / spotlight instead of launching from the terminal. In most cases it should be unset.

The changes that will include support for gb may even remove that preference.

[2015-06-27 01:00] sulliwane opened #225 "can't install go-plus 3.3.12 on Ubuntu 14.04 + Atom 1.0"
Hello there, thanks @joefitzgerald for the good work, I use go-plus on my mac and it's a blast. But my problem is that I still can't get go-plus working on my **Ubuntu 14.04** computer with **atom 1.0**. Everytime I try to install it ends up with this **npm error**:

    Installing “go-plus@3.3.12” failed.Hide output…
    npm ERR! Failed resolving git HEAD (https://github.com/joefitzgerald/atom-me

[2015-06-27 06:16] ngdinhtoan opened #226 "Package suggestion/completion"
Since we have many installed package from third party, and they are very long (github.com/usernameabc/awesomelib).... so we can not remember all of them.
So, if there is a package completion mechanism for Atom GO plugin is very useful.

Or at least we are able to have a dialog to search installed package on machine.

[2015-06-27 11:36] hyper-carrot commented on #220
@joefitzgerald  Acclaim for gb support!  But go tools, GOPATH, GOBIN are the undisputed standard. So that the options are very necessary. I request to add them into go-plus's option set.

[2015-06-27 12:33] joefitzgerald commented on #220
@hyper-carrot I want you to know that I understand what you're asking for.

I am saying no because the environment is the correct place to set those things, not atom configuration.

If there are any settings (I.e. GOPATH) that can be currently set via atom settings, they may be removed at some point in the near future. Consequently, you should continue to use the environment to set those things, n

[2015-06-28 00:28] toplinuxsir commented on #216
Yes, me too,
Please help , Thanks

[2015-06-28 00:33] joefitzgerald commented on #216
That's odd. It looks like you're both on Linux. Are you able to invoke gocode directly to determine if it is an issue with gocode?

[2015-06-28 01:06] zmb3 commented on #222
I had a similar issue once trying to get it to find git. When you set environment variables on Windows you can set them for your user account or system wide.

What worked for me was making sure these binaries were on my system path and not just my account path.

[2015-06-28 01:07] ilgooz commented on #216
I don't think this is a gocode issue because it works okay with GoSublime package. Please let me know if is there anything else that I can help you with. Thanks!

[2015-06-29 01:43] hyper-carrot commented on #220
@joefitzgerald I see. It's special point for mac. That’s okay. :-)

[2015-06-29 04:30] cameront commented on #216
I encountered the same problem today (trying atom again -- coming from ST3). I ended up fixing this by examining my ~/.config/gocode/config.json file and doing the following:
- Setting autobuild to true
- Removing a non-existent lib-path

And it started working for me in atom -- using the gocode debug mode (as joe suggested) was helpful in figuring out my issue. Hope it helps you too.

[2015-06-29 05:26] ilgooz commented on #216
@cameront thanks for the update, this solved my problem too! I just run <code>gocode set autobuild true</code> from my terminal and restarted Atom, it works!

[2015-06-29 06:00] rogierlommers opened #228 "cmd+click to go to source of function"
I recently switched from using LiteIDE to Atom (with go-plus) and I like it. However I miss one feature: the ability to cmd+click on a function which opens the source code from the corresponding package. See this recording to see what I mean: https://dl.dropboxusercontent.com/u/1757832/liteide-click-feature.mov After I cmd+click on the `.Handle()` function, it opens the `/net/http/server`-package.

[2015-06-29 10:25] madhon commented on #222
Its already in the system path in this case, C:\Python27\Scripts\ is the second entry in it

[2015-06-30 03:15] jamescmartinez commented on #51
@joefitzgerald What's the update on this? Can I help in any way?

[2015-06-30 16:22] joefitzgerald commented on #222
On Windows, I believe it's looking for hg.exe.

On Mon, Jun 29, 2015 at 4:25 AM Madhon <notifications@github.com> wrote:

--
Best Regards,

Joe Fitzgerald
Director, Pivotal Cloud Foundry Solutions
Mobile: (303) 888-3964 | jfitzgerald@pivotal.io
LinkedIn: @jfitzgerald | Twitter: @joefitzgerald | Github: @joefitzgerald

[2015-06-30 17:24] nickethier commented on #216
FYI Had this issue as well on linux but `gocode set autobuild true` fixed it. Might be worth adding to the README.md

[2015-06-30 18:32] joefitzgerald commented on #216
I think a nice solution to this might be to run `gocode set` and warn users if `autobuild` isn't set to true:

[code]

[2015-07-01 08:56] daMupfel commented on #216
This is the same problem as here? #167
autobuild sadly enough doesn't work all the time realiable. But it's a good fix for now.

[2015-07-01 22:10] manucorporat commented on #218
+1

[2015-07-01 22:14] manucorporat commented on #218
in the meantime, any workaround to make go-plus linter work with minimap-linter?
https://github.com/AtomLinter/atom-minimap-linter

[2015-07-02 17:40] manucorporat commented on #219
+1 for an option

[2015-07-02 21:26] jcpetkovich opened #229 "Integrate With symbols-view For godef Functionality"
Since there are already defined keybindings for finding the source at point, it would make sense to replace those keys with the `go-plus` equivalents in `.go` files. I've done a little poking around and it seems very possible to make language specific keybindings, as in https://github.com/idris-hackers/atom-language-idris/blob/master/keymaps/language-idris.json

Godef is also missing the breadcrum

[2015-07-02 21:28] joefitzgerald commented on #229
@jcpetkovich the correct solution is to directly integrate with symbols-view (or its rumored successor). That requires building a provider API for symbols-view, which I started but never finished (in favor of actually shipping the godef PR in the interim). See: https://github.com/atom/symbols-view/pull/95 (I have more uncommitted / unpushed code than that).

[2015-07-03 13:43] zippoxer commented on #216
I had no completions at all until I enabled autobuild. Thanks!

[2015-07-06 12:18] xogeny opened #230 "How to perform tests?"
I'm new to both Atom and `go-plus`.  I'm trying to figure out how to perform a `go build` or `go test` from within Atom.

Note, there is quite a bit that **is** working (autocompletion, highlighting of errors, some kind of linting/style checking, etc).  It appears as though some kind of compilation is going on behind the scenes to produce the error messages.  This compilation seems to be happening

[2015-07-06 15:43] joefitzgerald commented on #230
@xogeny See #45. TL;DR; we run `go test` now to get coverage, but we don't actually display any test output. This will change soon. See also https://github.com/atom-community/tester (work in progress, this is just a skeleton), which will form the foundation with which we will integrate.

[2015-07-06 15:43] joefitzgerald commented on #230
Closing in favor of #45.

[2015-07-06 15:43] #230 closed

[2015-07-06 15:44] joefitzgerald commented on #199
@GeorgeLyons are you using `gox`? `goxc`? Something else?

[2015-07-06 15:45] joefitzgerald commented on #209
This should be fixed by updating atom and go-plus.

[2015-07-06 15:45] #209 closed

[2015-07-06 15:46] joefitzgerald commented on #224
Closing in deference to https://github.com/tcarlsen/atom-message-panel/issues/71.

[2015-07-06 15:46] #224 closed

[2015-07-06 17:28] GeorgeLyons commented on #199
just go1.5 with the GOOS, GOARCH and GOARM environment variables set

On Mon, Jul 6, 2015 at 11:44 AM Joe Fitzgerald <notifications@github.com>
wrote:

[2015-07-06 17:55] xogeny commented on #230
I looked for existing issues first, somehow that ones slipped by me.  My bad.

I'm curious, I mentioned I'm using `goconvey`.  It actually has a continuous web view of testing.  Is there an easy way in Atom to have a tab that represents a browser view?  I know I can have a split screen with a browser on one side.  But it would be better to toggle between editing and viewing.

[2015-07-06 18:21] joefitzgerald commented on #199
Are you saying that GOOS / GOARCH / GOARM aren't taking effect when you launch Atom from the terminal? If you launch Atom from Finder / Dock / Spotlight then the environment won't match your terminal unless you take extraordinary measures in updating launchd config.

Is the request to be able to run multiple builds, with those values changed on each build?

[2015-07-06 20:01] GeorgeLyons commented on #199
Not sure about from the terminal (I'm not at my work machine at the
moment), but it would be nice to have a setting which would set those
(Preferably per-project but global would do the trick)

On Mon, Jul 6, 2015 at 2:21 PM Joe Fitzgerald <notifications@github.com>
wrote:

[2015-07-07 22:52] bearclaws73 opened #231 "Uncaught SyntaxError: Unexpected token d"
[
func first(x int) (int, bool) {
	if x%2 == 0 {
		return x / 2, true
	} else {
		return x / 2, false
	}
}

func main() {
	x := 71
	y, hx := first(x)
	fmt.Println(y, hx)

}

**Atom Version**: 1.0.0
**System**: Microsoft Windows 8.1
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.3.12

### Stack Trace

Uncaught SyntaxError: Unexpected token d

[code]

### Commands

[2015-07-08 14:49] madhon commented on #222
I think it should really be changed to hg.exe or hg.bat if thats the case

[2015-07-08 16:18] zmb3 opened #232 "Accommodate `vet` and `cover` tools' move in Go 1.5"
Per the [release notes](https://tip.golang.org/doc/go1.5), in Go 1.5, `vet` and `cover` are being moved into the main repository from the `golang.org/x/tools` repository, but deprecated source will remain at the old location.

This means with Go 1.5 and later, Go-Plus may download and attempt to use outdated versions of these tools, instead of just using what comes bundled in the Go install.

Shou

[2015-07-08 16:50] joefitzgerald commented on #232
@zmb3 are you at GopherCon? I was planning on shifting to use of `gometalinter` - which can fetch tools, but I think we should consider continuing to manage getting tools and keeping them up to date in go-plus. This would allow us to take either approach (hard cutover to v1.5, or allow simultaneous use of 1.4, depending on the current go).

[2015-07-08 17:05] zmb3 commented on #232
I wish.  I had planned to go but just couldn't swing it this year.  Must be nice not to have to travel for it :)

[2015-07-08 17:10] joefitzgerald commented on #232
You should join Slack and then the #go-plus room, would love to chat more about use of 1.5 and future go-plus plans (e.g. https://github.com/derekparker/delve/issues/164): http://bit.ly/go-slack-signup.

[2015-07-08 20:17] whit3 opened #233 "No more autocomplete for standard packages"
Hi,

I suddenly lost package autocompletion, but only for the standard library.

For example, with the `net/http` import, there is no more `package http` option in the list:

![autocomplete](https://cloud.githubusercontent.com/assets/3913683/8580641/07781e08-25bc-11e5-8632-4fdc79cb9b7f.png)

Surprisingly, all is OK for the third-party packages in the `GOPATH/pkg`.

go-plus | Atom | Go | OS X
--- |

[2015-07-08 20:18] joefitzgerald commented on #233
Can you run `gocode set` and then let me know what the values are? Also, did you just install go 1.5 beta 1? Or are you using 1.4.x?

[2015-07-08 20:23] whit3 commented on #233
Still using Go 1.4.2.

For info, I just uninstalled and installed back `go` with Homebrew before the problem appeared.
Something must have gone wrong…

From `gocode set`:
[code]

[2015-07-08 20:24] joefitzgerald commented on #233
You may want to have gocode drop it's cache. Does that help?

[2015-07-08 20:29] whit3 commented on #233
Sorry, `gocode drop-cache` didn't solve the problem.

[2015-07-08 20:33] joefitzgerald commented on #233
If you are able to calculate an offset for your file, you can invoke gocode manually, and I suspect it is omitting the results you are expecting even when invoked from the terminal. If so, that implies that gocode or your installation is awry in some way.

[2015-07-08 20:59] whit3 commented on #233
True!

When I do something like `gocode -f=nice -in=test.go autocomplete 77` with an `import "net/http"` inside the *test.go* file, I get nothing relative to the `net/http` package.

But what surprises me, is that *GoSublime* in *Sublime Text* is not affected by this issue although it also uses *Gocode*… I don't get it. :astonished:

[2015-07-08 21:13] whit3 commented on #233
Oh, wait… I just `go get -u github.com/nsf/gocode` and all seems fine again! :sweat_smile:

I removed all the `pkg` directory in my `GOPATH` before reinstalling Go and I forget to also reinstall these third-party packages (including *Gocode*).

Thank you **A LOT** for your work @joefitzgerald !

[2015-07-08 21:13] #233 closed

[2015-07-09 17:37] solher commented on #21
The Delve IDE integration problem is closed now https://github.com/derekparker/delve/pull/88. It seems like an IntelliJ plugin is on the way https://github.com/go-lang-plugin-org/go-lang-idea-plugin/issues/1252. That would be amazing to have it in go-plus too.

[2015-07-09 18:27] peterbourgon commented on #228
The behavior exists — put the cursor within the relevant symbol and type cmd + opt + g — but strong +1 to having a click handler. A must-have feature for me.

[2015-07-09 22:03] jensenak commented on #156
Just hit this same error running atom 1.0.2 with go-plus 3.3.12 and autocomplete-plus 2.17.4. OS is Ubuntu 14.04.

Unfortunately, I can't seem to replicate it another time, and everything appears to be working now. This may not need attention, but I just wanted to clarify that an out of date version may not have been the cause of the originally reported error--there may still be a bug in atom.

[2015-07-11 02:43] billhsu commented on #189
I need this option as well. Thanks.

[2015-07-12 08:02] mlitvin opened #235 "GOPATH is not passed properly to godef"
It seems that if GOPATH has multiple directories GOPATH=$PROJ:$PROJ/vendor, then it is not passed to godef, which result of course in failure of goddess to find the symbols.

my environment is:

 go-plus
Go: go1.4 darwin/amd64 (@/usr/local/go/bin/go)
GOPATH: /Users/moshe/Documents/code/golem:/Users/moshe/Documents/code/golem/vendor
Cover Tool: /usr/local/go/pkg/tool/darwin_amd64/cover
Vet Tool: /u

[2015-07-12 13:03] #221 closed

[2015-07-12 13:49] joefitzgerald commented on #235
This was fixed in 04949a8b57cd281f863a37fba0dd9130934e0a46.

[2015-07-12 13:49] #235 closed

[2015-07-12 15:29] db47h opened #236 "Keybindings conflict with other packages"
Just a quick example: ctrl-alt-c is also used by the Pigments package.

Although with such a large package ecosystem this is to be expected, trivial cases could be avoided by restricting at least some of the keybindings to go source code (the only place where they make sense). This can be done with:

[code]

[2015-07-13 09:52] Brasilikum opened #237 "Uncaught TypeError: Cannot read property 'idValidEditor' of null on godef.coffee:37"
When I tried to use the new "Goto Definition"-Feature, I got the following Error:

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.4
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.4.1

### Stack Trace

Uncaught TypeError: Cannot read property 'isValidEditor' of null

[code]

### Commands

[code]

### Config

[co

[2015-07-13 18:28] nickpoorman commented on #12
+1

[2015-07-13 19:29] nickpoorman commented on #45
+1

[2015-07-14 02:49] billhsu commented on #228
+1 for this

[2015-07-14 07:27] dvirsky commented on #173
Still happens to me in 3.4.1

[2015-07-14 13:56] mttrs opened #238 "Mac OSX: Fail to get missing tools opening by even from terminal"
I read the installation carefully on https://atom.io/packages/go-plus, but still have an issue to complete. Could anyone please help me?

### Open Atom by terminal
[code]

Then, see the Atom

### Display go information
[code]
---
### path: mercurial and go are installed correctly
[code]
[code]

[2015-07-14 14:02] joefitzgerald commented on #238
Try installing the shell commands Atom > Install Shell Commands, and then do not use open. Instead launch from the terminal via `atom` directly.

[2015-07-14 15:03] mttrs commented on #238
It works with atom.sh! I didn't notice that the 'open' didn't work. Thanks a lot.
[code]

[2015-07-14 15:03] #238 closed

[2015-07-14 15:29] xogeny commented on #45
I've come up with a solution that I'm pretty happy with.  I use `goconvey` for testing.  I run this in a terminal window somewhere and it runs indefinitely.  But the interesting thing about `goconvey` is that it spawns a web server that gives a nice report about testing, coverage, etc.  Then what I do is open `http://localhost:8080` using the [`browser-plus`](https://atom.io/packages/browser-plus)

[2015-07-15 17:34] djahma commented on #40
Hello! Have you resumed work on simon-whitehead suggestions? I'd very much love exactly the same features he asked about.
I thought of using atom to provide an html gui for a golang technical analysis software. it would be kool to just develop in both go and web within the same piece of software.

[2015-07-15 22:31] joefitzgerald opened #240 "README Images"
This issue is a placeholder that will be used for image hosting.

[2015-07-15 22:31] #240 closed

[2015-07-16 04:53] fmpwizard commented on #161
another +1 for a similar functionality to goSublime, I had to disable `goimport` because here and there it would lock up Atom (On fedora 20, 64bit , atom 1.0.2 go-plus 3.4.1), so now I have gofmt to format my files, and manually add imports. Other than this, go-plus is awesome!

[2015-07-16 07:42] y521263 commented on #205
Where is the Packages > Go Plus > Display Go Information?
I can not find it.

[2015-07-16 12:35] afboteros commented on #173
Still happens to me in 3.4.2 running godef, but godef works.

[2015-07-16 15:11] echupriyanov opened #241 "Autocomlete of functions eats closing bracket"
Example:

[code]

When I’m entering err.Err - I have correct suggestion Error(), but when I accept suggestion I’m getting following:

[code]

i.e. I have err.Error() inserted, but my closing bracket is gone.

[2015-07-17 02:02] heshed commented on #207
awesome! i'll wait

[2015-07-17 04:32] mlitvin commented on #235
Thanks

[2015-07-18 06:14] billhsu opened #242 "Integrate with gorename to rename variable names"
It's hard to rename a global variable name manually.
Would be great if refactoring variable names could be added to this plugin.

[2015-07-18 12:57] Eloff opened #243 "Clicking on an issue in the messages panel closes the panel"
I see there are half a dozen issues (ok a dozen) when I save my go file, but if I click on one, the panel is closed. It would be nice if it stayed open once I click on it, so that I can work through the list.

I'm new to Atom, so I apologize if there is a way to keep it open that I'm unaware of.

[2015-07-19 19:57] joefitzgerald commented on #240
![go-plus-demo](https://cloud.githubusercontent.com/assets/744740/8767576/07ea65c0-2e1e-11e5-92cb-d1481afa6103.gif)

[2015-07-20 05:49] db47h commented on #236
Another conflict with ctrl-alt-c is the default keybind for the case-sensitive toggle in the find view.

[2015-07-20 19:21] tgrosinger opened #244 "Godef: No declaration found"
[code]

All of the Go tools I have tried from go-plus are working except godef. If I select code (even a function call to something in the same file and run `ctrl+shift+p` followed by godef I get this error:

`godef: no declaration found for <insert function name here>`

It does seem to know about my Godef installation though. Any suggestions?

[2015-07-21 03:07] tgrosinger commented on #244
Please note that the GOPATH there is special. On of the projects I am working on can not be in the normal GOPATH, so it is listed separately. Could that be affecting this?

[2015-07-21 03:09] joefitzgerald commented on #244
Yes, that could be affecting things. Could you describe the paths + GOPATH for the files in question? What function is in what file?

[2015-07-21 14:28] tgrosinger commented on #244
Here is my actual GOPATH:

[code]

The file I am editing (picked at random) is

[code]

The project compiles successfully and it seems like this should be working. Here is an example of what I am trying to do a godef on.

[code]

In this example, running godef with my cursor over `!exists` does not work in Atom, but does work fine with my Vim setup.

[2015-07-22 14:46] tgrosinger commented on #244
I explicitly set my GOPATH in the Go Plus settings and it started working right away. I am a little confused, because it did seem to know the correct GOPATH already, but I won't argue with results.

[2015-07-22 14:46] #244 closed

[2015-07-22 14:52] joefitzgerald commented on #244
Hmm... I recall we had an issue with godef support where it was not using the centralized function I built for getting the gopath. I wonder - are you running a version of go-plus that is not the most recent?

[2015-07-22 15:00] tgrosinger commented on #244
The day I opened the ticket was actually the first time I have used Atom, so it was pretty recent. And I just installed an update today.

[2015-07-22 15:32] joefitzgerald commented on #244
You might want to unset the GOPATH in go-plus settings (instead relying on the environment) and see if it was just the update that fixed things.

[2015-07-22 16:06] tgrosinger commented on #244
It seems to be working now even with it removed. Thank you!

[2015-07-22 16:32] tgrosinger commented on #3
@joefitzgerald, Sorry for commenting on such an old issue.
Is it expected to only see errors in the error pane? It would be nice if they made the gutter red at the line with the problem.

[2015-07-24 22:59] Eloff commented on #243
I see it only happens when the issue clicked on is in a different file than the currently displayed one. That's something at least, but it would be nice if it stayed open between file switches.

[2015-07-25 17:09] caarlos0 commented on #241
same here!

[2015-07-27 03:45] rtyer commented on #213
:+1:

[2015-07-27 09:09] roee-indegy opened #246 "Snippet for method generation"
I've seen this feature in sublime's golang plugin and i was wondering if it's possible to create such a snippet. Say you have a struct foo, when you type it in an empty line the plugin suggests a method snippet -> func (f *foo)MyFunc(). Seeing as you already identify foo as a struct, im assuming this is somehow possible.

[2015-07-27 17:54] joefitzgerald commented on #246
This sounds like a good snippet suggestion! Snippets should be added to `[language-go](https://github.com/atom/language-go)` so that users of Atom benefit from them by default (even if they don't have go-plus installed).

[2015-07-27 17:55] joefitzgerald commented on #246
Additionally, you might want to take a look at this snippet: https://github.com/atom/language-go/blob/564f13e36e0f03440ce2ed2715cf89fb564afc01/snippets/language-go.cson#L5-L7

[2015-07-28 12:28] roee-indegy commented on #246
It's close, but not exactly what i had in mind. Thanks for your help though.

[2015-07-28 12:37] joefitzgerald commented on #246
Could you describe what exactly you had in mind in more detail?

[2015-07-28 12:46] roee-indegy commented on #246
lets say i have a type in my package:
[code]
I would like atom to create a snippet for a method. so say i type
[code]
atom will offer me to use a generateMethod snippet that will work for all types in the package
[code]
The advantage of this snippet is that you don't need to specify the type's name, whereas in the snippet you presented you do.

[2015-07-29 01:41] grkg8tr commented on #101
Setting GOBIN worked for me on OSX.

[2015-07-31 07:22] vgalu opened #248 "gotags support?"
Hi,
Would it be possible to integrate gotags (github.com/jstemmer/gotags) support so that the tags file is updated on every file save?

Thanks
Vlad

[2015-07-31 12:14] joefitzgerald commented on #248
Isn't that kind of redundant given that we have gocode integration? Or is there a use case I am missing other than autocomplete?

[2015-07-31 13:29] alecha opened #249 "Uncaught Error: ENOENT: no such file or directory, uv_cwd"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.3
**System**: Mac OS X 10.10.4
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.4.3

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, uv_cwd

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-01 19:20] codingrogue commented on #228
+1

[2015-08-02 13:16] orange881217 opened #251 "not seeing autocomplete suggestions"
<a href="http://gyazo.com/d01f3f0a89b672d102935f3b6a549f9e"><img src="http://i.gyazo.com/d01f3f0a89b672d102935f3b6a549f9e.gif" /></a>

Now I'm using [autocomplete-plus](https://atom.io/packages/autocomplete) with go-plus
but the problem is autocomplete plugin doesn't work after brute pressed backspaces

and this is my config.cson

[code]

Thank you for your attention to this matter.

[2015-08-02 14:18] joefitzgerald commented on #251
Please open an issue in the go-plus repo (for which I am an owner). This isn't an ac+ issue.

Secondarily, please ensure your GOPATH is set in your environment and that you launch Atom from the command line / via the terminal.

[2015-08-03 12:23] db47h commented on #236
Just realized that the `:not[.mini]` selector has to be added in order to prevent conflicts with the find panel:
[code]

[2015-08-03 12:59] edgard commented on #232
I suppose Go 1.5 release is close to release now, did we figured out a way to get around this?

[2015-08-03 13:05] bryanl commented on #242
I know this isn't an answer for go-plus, but https://atom.io/packages/go-rename works well.

[2015-08-03 14:34] orange881217 commented on #251
![a](https://cloud.githubusercontent.com/assets/5603687/9039440/6e31c14c-3a36-11e5-9d0a-2a0d291dcd4a.PNG)

GOPATH is set fine in my enviroment, and atom also working well
If you need more information for fix this, please tell me what you want

Thank you for your feedback :smiley:

[code]

[2015-08-03 15:23] #236 closed

[2015-08-04 07:15] sulliwane commented on #225
SOLVED

I solved the problem by moving npm-cli.js, doing this:

    sudo mv /usr/share/atom/resources/app/apm/node_modules/npm/bin/npm-cli.js /usr/share/atom/resources/app/apm/node_modules/npm/bin/npm-cli.js.bak

Then install the package from atom and it worked! (I don't know how it can work without knowing about `npm-cli.js` but it worked!

So it should have been a npm cache problem, and is not r

[2015-08-04 07:15] #225 closed

[2015-08-05 00:40] gregz67 commented on #45
Thanks @xogeny.  I will have to look at `goconvey`.  I ended up simply [using run-command](https://github.com/kylewlacy/run-command) for running a simple `go test` command.

[2015-08-05 10:33] santagada commented on #173
still happens for me.

[2015-08-05 13:14] willf commented on #207
Looking forward to this integration as well. Really great tool.

[2015-08-05 15:07] joefitzgerald commented on #237
This is fixed in `v3.4.5`.

[2015-08-05 15:07] #237 closed

[2015-08-05 15:08] joefitzgerald commented on #248
@vgalu any feedback regarding my prior question?

[2015-08-05 15:10] joefitzgerald commented on #249
This looks like an io.js issue, which has been fixed. In the interim, don't delete the directory you launch Atom in, or the directory for the project you have open.

https://github.com/nodejs/io.js/issues/1184

[2015-08-05 15:10] #249 closed

[2015-08-05 15:13] joefitzgerald commented on #251
Please verify that gocode has autobuild enabled:

[code]

[code]

[code]

[2015-08-05 15:15] joefitzgerald commented on #243
I am going to close this as won't fix - not because this is not desirable, but because I am moving to use of linter, and that will address issue display once complete. Consequently, I don't think I will spend the time to fix this with the existing message panel.

Thanks for the issue report, though! I hope you're enjoying go-plus otherwise :smile:.

[2015-08-05 15:15] #243 closed

[2015-08-05 15:16] joefitzgerald commented on #241
That sounds annoying! I'm sorry you're having this issue. I will look into it and try to reproduce.

[2015-08-05 15:17] joefitzgerald commented on #242
Yes, we will add support for gorename! In the meantime, please go to #174 or #91 to discuss this feature.

[2015-08-05 15:17] #242 closed

[2015-08-05 15:18] joefitzgerald commented on #246
This is an interesting idea.

[2015-08-05 19:31] otm opened #253 "Clicking on compile errors to jump opens new file with several projects opened"
To reproduce:
1. Open go project
2. Right click tree view and choose "add project folder"
3. Open a second go project
4. Create a error like example error below.
5. Click to error to jump to line

Expected result:
Worker.go in second project is opened and highlighted line is 19

Actual result:
A new file, called worker.go, is opened in the first project.

Example error:
at line 19, character 1, fi

[2015-08-06 06:37] orange881217 commented on #251
It's working fine
thank you for your help :+1:

[2015-08-06 06:37] #251 closed

[2015-08-07 16:58] leonardoeloy commented on #228
:+1:

[2015-08-07 20:15] kavu commented on #218
@joefitzgerald linter-(gotype,golinter,govet) author here. I am ready and opened to suggestions to improve those Linter packages. First of all I need to update it to the current Linter API and then we could do some improvements for possible future transition.

[2015-08-07 20:29] joefitzgerald commented on #218
@kavu :+1: sounds great, let's do it!

[2015-08-08 23:25] tony-kerz opened #254 "question: is there any way to also perform 'go install' on buffer save?"

[2015-08-09 07:53] eaigner commented on #216
Unfortunately the autobuild solution doesn't seem to work for me at all.

[2015-08-09 14:41] joefitzgerald commented on #216
@eaigner Are you using gb, or some other solution for vendoring your dependencies?

[2015-08-10 10:52] eaigner commented on #216
@joefitzgerald Nevermind. I was using go-plus with appengine. In order for it to work had to manually set a gocode lib-path like so

    /gocode set lib-path "$GOPATH/pkg/darwin_amd64_appengine"

[2015-08-10 11:36] #216 closed

[2015-08-10 17:12] gedw99 opened #255 "must start from command line, and not OSX app pin"
Maybe this is well known, but for the plugin to recognise the path for go, Atom needs to be started from the command line on OSX.

not a show stopper.

on go 1.5 RC1, seems to be working fine.

[2015-08-10 20:01] daMupfel commented on #255
https://github.com/joefitzgerald/go-plus#gopath-1

[2015-08-10 20:21] joefitzgerald commented on #255
As @daMupfel points out, this is a known issue - with all of Atom and all OS X apps that have an interest in variables set in shell initialization scripts.

I actually have a workaround, located here: https://github.com/atom-community/environment - this launches the shell once to get a "correct" environment" if you do happen to launch Atom from Dock, Finder, Spotlight, etc.

I am waiting to integr

[2015-08-10 20:21] #255 closed

[2015-08-10 20:22] joefitzgerald commented on #253
Duplicate of #243. As I articulated there, this is desirable, and will hopefully be fixed through integration with Linter.

[2015-08-10 20:22] #253 closed

[2015-08-11 01:48] amoghe commented on #248
IIUC, the suggested package generates a ctags compatible file which can then be used to do things like
`jump-to-declaration` and `return-from-declaration`.  However for that functionality (`jump-to-decl` et al) is provided by the built-in `atom/symbols-view` package, and is therefore outside the purview of `go-plus`, unless I've missed the point completely and @vgalu has some other use case.

Asid

[2015-08-11 03:52] joefitzgerald commented on #248
Go to definition is already implemented via `godef`. See also WIP: https://github.com/atom/symbols-view/pull/95 to integrate with symbols-view.

[2015-08-11 13:03] mariusgrigaitis commented on #173
Happens with 3.4.5

[2015-08-11 13:05] joefitzgerald commented on #173
Can you please post the actual error contents here if you're still experiencing it? This issue actually contains a number of separate issues and I'd like to isolate where this is currently occurring. Thanks!

[2015-08-11 14:46] santagada commented on #173
For me now it is working, it is not scrolling the finding to the top of the screen like I think it should, but it's working.

[2015-08-11 17:58] pkieltyka opened #256 "code auto-completion is very flakey"
I'm excited about atom, and I'm excited about this package -- but I've been struggling with over a month where the auto completion works about half of the time.

[2015-08-11 19:26] brianvoe opened #257 "Intercept `will-save` Event And Run Formatters (Or Other Buffer Modifying Tools) Prior To Saving"
When saving a file Atom.io will save the file first and Goconvey will notice a file change and rerun tests then go-plus will format and lint check and anything else it needs to, then save the file again thus having Goconvey rerun the tests again. Any chance go-plus can do the things it needs to before Atom.io saves the file?

[2015-08-11 20:43] Gurpartap commented on #228
:+1:

Atom currently does not support click bindings.

However, [nuclide-click-to-symbol](https://github.com/facebooknuclideapm/nuclide-click-to-symbol) plugin lets you provide this functionality via your own plugin (`go-plus` in our case).

The description of that plugin says they're working on adding this to Atom itself. Until, then maybe someone might want to take a crack at using this plugin.

[2015-08-11 21:36] vgalu commented on #248
Whoops, sorry. I was under the false impression that gotags would augment existing functionality. @joefitzgerald, please feel free to close the issue, sorry for the noise.

[2015-08-12 06:23] mariusgrigaitis commented on #173
[code]

[2015-08-13 17:07] forlayo opened #258 "Cannot use go-plus with go provided by appengine"
Hello gentlemen,

I'm trying to use your awesome go plugin with golang provided by appengine, but I can't; I've tried to set the path in "go installation path" setting even creating a symlink from "goapp" to "go" ( go command in appengine is "goapp" ).

Anyone knows how can I use go provided by appengine with this plugin ? I wanna do it because go provided is the one that I must use for develop, v

[2015-08-13 18:05] MathieuDoyon opened #259 "Install failed windows atom 1.0.7"
Install failed!

[code]

[2015-08-13 18:13] joefitzgerald commented on #259
Please follow the instructions here: https://github.com/atom/atom/issues/2206

[2015-08-13 18:13] #259 closed

[2015-08-13 18:16] MathieuDoyon commented on #259
Sorry did not found it!

Thank you for your help

[2015-08-15 14:53] #248 closed

[2015-08-17 21:02] henrikhodne commented on #207
This is my workaround for now:

[code]

It will only work for one project at a time, you have to close all other projects first, but it seems to work well except for that.

[2015-08-19 03:16] joefitzgerald commented on #258
Hi @forlayo, thanks for the kind words. Please refer to #58, #71, #82, #223 (tracked under an umbrella issue: #76) for GAE support. Also, perhaps try Google Container Engine, Cloud Foundry (disclosure: I work for Pivotal), or Heroku, all of which can use the _normal_ go runtime. /cc @campoy

[2015-08-19 03:16] #258 closed

[2015-08-19 03:23] joefitzgerald commented on #257
So - to restate the question:

This seems like a reasonable enhancement. The necessary event is here: https://github.com/atom/text-buffer/blob/v6.5.2/src/text-buffer.coffee#L258.

[2015-08-19 13:03] geovanisouza92 commented on #12
+1

[2015-08-19 13:58] brianvoe commented on #257
Sweet! Simple and easy. When will this change take effect?

[2015-08-20 17:07] geovanisouza92 commented on #161
+1

[2015-08-21 05:00] abourget commented on #207
I've landed a PR for `godef` to support the vendor experiment here: https://github.com/rogpeppe/godef/pull/14

I don't know if this would help, but just saying.

[2015-08-21 18:14] joefitzgerald commented on #256
See #251, #233, #216, #167, #101.

[2015-08-21 18:14] #256 closed

[2015-08-21 18:15] pkieltyka commented on #256
thanks, will subscribe to those

[2015-08-23 06:41] Zverushko opened #260 "unrecognized import path"
Hi!
I install go-plus in atom and cant install some package
for example
$ go get golang.org/x/tools/cmd/goimports
package golang.org/x/tools/cmd/goimports: unrecognized import path "golang.org/x/tools/cmd/goimports"

what am I doing wrong? thx!

[2015-08-23 12:25] joefitzgerald commented on #260
Hi @zverushko. What is your GOPATH set to? Can you paste the output from running `go env`? Also, can you reach both golang.org and github.com in your browser via http and https  without any errors?

[2015-08-25 05:02] apps4u opened #262 "error pop up when opening atom"
[Enter steps to reproduce below:]

Open atom via command line in project root run `atom .`

**Atom Version**: 1.0.7
**System**: Mac OS X 10.11
**Thrown From**: [go-format](https://github.com/lsegal/atom-go-format) package, v1.0.7

### Stack Trace

Failed to load the go-format package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-25 07:01] joefitzgerald commented on #262
Wrong repo. Try uninstalling go-format.

[2015-08-25 07:01] #262 closed

[2015-08-25 07:22] ghost opened #263 "integrate go test"
I think it would be really cool to have go test support.
For instance running go test on current file, package, function etc.

[2015-08-25 20:01] coreyog opened #264 "Add numbers to list of "Supress Autocomplete Activation For Characters""
When I type the line `x := 0` as soon as I press 0, there's an autocomplete dropdown. When I hit enter (because that's all the line I intended to write) garbage gets inserted. Nowhere near what I wanted to write.

[2015-08-27 20:20] josebalius commented on #264
+1 on this, is there anyway to do this?

[2015-08-28 01:42] danqing commented on #232
Go 1.5 is already released and I'm seeing "Vet tool missing". Do we have a resolution yet?

[2015-08-28 15:14] aviflax opened #266 "A way to show feedback when compile-on-save succeeds"
If I get a warning or an error, then great, I know that compilation completed and I can now move on. But when compilation succeeds with no warnings or errors, I have no way to know _when_ that happens… I just kinda have to guess. Some visual feedback would be great and would allow me to move faster.

Thanks!

[2015-08-28 17:15] joefitzgerald commented on #266
This is already possible. Open the settings for `go-plus` and enable the `Show Message Panel When No Issues Exist` option.

[2015-08-28 17:15] #266 closed

[2015-08-28 18:21] aviflax commented on #266
Ah, I didn't realize. Thanks!

[2015-08-29 03:36] ianwalter commented on #219
Yes, makes the plugin unusable IMHO.

[2015-08-29 04:58] joefitzgerald commented on #219
@ianwalter that's a bit hyperbolic isn't it? You can always turn off coverage via preferences.

[2015-08-29 05:09] ianwalter commented on #219
@joefitzgerald I was using v3.4.5 and was seeing a readme instead of settings when I clicked on the settings button so I assumed there weren't any. Upgraded to v3.5.1 and they are back. Thanks for steering me in the right direction.

[2015-08-29 13:14] joefitzgerald commented on #219
:thumbsup:

[2015-08-31 02:52] jpillora opened #268 "godef: jumping into the stdlib"
In Sublime, I could jump into the stdlib source. Currently I'm seeing:

[code]

[2015-08-31 02:52] jpillora commented on #268
I wrote this then figured it out and thought I'd post anyway for others. I just had to update godeps:

[code]

[2015-08-31 02:52] #268 closed

[2015-08-31 19:55] joefitzgerald commented on #260
Closing due to no response. If you would like assistance, please respond back with additional information.

[2015-08-31 19:55] #260 closed

[2015-09-01 06:34] kyoh86 opened #269 "Keybinding to focus a message panel / jump to a line occuring issues"
relate to: #128

I want a simple way to jump to issues.

[2015-09-01 17:32] amits1995 opened #270 "build and run doesn't work on windows"
This is probably just a problem on my side but I don't know where to ask.
I installed Atom and go-plus. it seems that all the configurations of GOPATH and such are fine.
it also looks like formatting and autocompeting are working.
go-plus should build every time I save, but it doesn't. instead, it writes "No Issues". it also doesn't do anything when I open the command platte and choose "Golang: Go

[2015-09-01 18:16] joefitzgerald commented on #270
It does build every time you save. Try adding some invalid syntax somewhere in the file. That will cause the build to fail, and you'll see an error.

[2015-09-01 18:18] amits1995 commented on #270
Yes, I can see build errors but I cannot find the output executable file.
On Sep 1, 2015 21:16, "Joe Fitzgerald" <notifications@github.com> wrote:

[2015-09-01 18:20] joefitzgerald commented on #270
The output is deliberately discarded. The build is done for error checking, not to produce your executable. If you would like an executable, it's a simple `go build ./...` away from the command line.

[2015-09-01 18:20] #270 closed

[2015-09-01 18:22] joefitzgerald commented on #264
Change your autocomplete-plus preferences to use tab for acceptance of completions: `Atom > Preferences > Packages > autocomplete-plus > Settings > Keymap For Confirming A Suggestion > tab`.

[2015-09-01 18:22] #264 closed

[2015-09-05 17:31] tylerb opened #271 "Do not autocomplete the name of the function name being edited"
I have a snippet defined as:

[code]

This produces:

[code]

When editing the name of the function, autocomplete tries to autocomplete the name of the same function, making it so I can't use `tab` to advance to the next snippet replacement token:

<img width="246" alt="autocomplete same name" src="https://cloud.githubusercontent.com/assets/70804/9700482/ebf2d5b8-53c1-11e5-82e3-7085aa7580ea.PNG">

[2015-09-05 21:06] tylerb opened #272 "go-plus causes word selection under cursor to be off-by-one"
Bit of a weird bug, but I've traced it down to go-plus, and it is reproducible. See blakeembrey/atom-dash#26 for more info.

For this code:

[code]

the word selection for `MustCompile` on the `bad` line becomes `ustCompile(`, but only if there is a leading `tab` character, and only if the file format is `Go` with `go-plus` loaded.

[2015-09-05 21:16] joefitzgerald commented on #272
@tylerb, have you tried reproducing with the grammar set to language-go, but with the go-plus package disabled? I'd like to understand if this is a go grammar issue, because I can't fathom how this could be go-plus.

[2015-09-05 21:26] tylerb commented on #272
I did. I disabled `go-plus` and tried it again. It worked just fine. It seems `go-plus` is the issue.

[2015-09-05 21:28] tylerb commented on #272
Well I just did it again, and it seems disabling `go-plus` doesn't fix it like I thought it did. I'm not sure what else changed in my last test, but it seems it may be a go grammar issue as you suspect.

[2015-09-05 21:44] tylerb commented on #188
According to nsf/gocode#51, @nsf is explicitly not providing fuzzy matching, leaving it up to whomever is using gocode. It would seem this is something go-plus needs to do. As he says:

```And regarding sorting, it is perfectly possible for an editor to request all completion variants and sort them as it wishes: fuzzy matching, case insensitive matching, regexp matching, anything you want. Ask goc

[2015-09-05 22:07] tylerb commented on #272
After further investigation by @blakeembrey, it seems this is actually an Atom bug. Not related to go-plus. Sorry for the spurious issue!

[2015-09-05 22:07] #272 closed

[2015-09-06 05:53] nsf commented on #188
As for me, I'm using Atom now as well. I can see go-plus doing autocompletion request for every character you type when autocompletion is active. Maybe it's not the best idea ever. I've implemented autocompletion in my own editor, the logic was something like that: When user requests autocompletion, query gocode, then keep that list around and remove it only when user's cursor is behind or ahead o

[2015-09-06 12:54] joefitzgerald commented on #188
Fuzzy matching is built into the default autocomplete provider (SymbolProvider) and so will always be available as a fallback. When I rewrote autocomplete-plus, we built in a debounce so that keystroke performance is not impacted by ac+ dispatching requests to ac+ providers - provided those providers are asynchronous (go-plus is).

I could fuzzy match against the suggestions gocode provides me but

[2015-09-06 15:39] tylerb commented on #188
For me, it's a matter of speed and convenience. Coming from ST3, it is rather well ingrained in me to type only specific parts of a function call I am trying to insert. For example `fmt.pl` becomes `fmt.Println`, `fmt.pf` is `fmt.Printf`, etc. For every function I want to call, I can simply type the first character of each "word" in the function name and I will almost always get the correct result

[2015-09-06 17:43] nsf commented on #188
And I don't use fuzzy matching for autocompletions. But I guess it would be nice to have it as an option.

[2015-09-06 18:19] dahankzter commented on #173
This is unfortunate! One of the neat things was to get tests run on save.

I get the same with 3.5.1 on cover/test from the menu and just silence on save.

[2015-09-07 12:33] Depado opened #273 "No autocompletion for core packages"
Hi,

I juste updated my Go installation to Go 1.5, moving from package manager installation to installation from source. Now, the plugin can't seem to find the autocompletion for the core packages like `http` for example. Is it a known bug or did I do something wrong with my installation ? The Go binary is installed in `/usr/local/go/bin/go`.

[code]

[2015-09-07 13:17] diegobernardes opened #274 "Go to definition shortcut"
There is any shortcut for go to definition? Using it from the menu works just fine, but i need a shortcut to this be pratical.

Thanks!

[2015-09-08 00:48] sulliwane commented on #225
Here is the correct and proper solution to clean apm cache, and solve the error:

    "/usr/share/atom/resources/app/apm/node_modules/npm/bin/npm-cli.js" "--globalconfig" "/home/victor/.atom/.apm/.apmrc" cache clear

after that, re-open ATOM and go to update or install the package that gave you problem!

[2015-09-08 13:37] danielchatfield opened #275 "Autocomplete stops working when source file contains emoji"
I'll create a concise testcase for this when I have some free time but I'm noticing that autocomplete stops working when I have emoji in the file (it never filters the list - always displays all of the options).

[2015-09-08 13:43] danielchatfield commented on #275
Created a test repo: https://github.com/danielchatfield/go-plus-test

[2015-09-08 13:46] joefitzgerald commented on #275
Can you do me a favor and test this with the go-plus package disabled? I want to determine if this is an autocomplete-plus issue, or a go-plus issue.

[2015-09-08 13:47] joefitzgerald commented on #274
Yes: https://github.com/joefitzgerald/go-plus/blob/master/keymaps/go-plus.cson.

[2015-09-08 13:47] #274 closed

[2015-09-08 13:53] danielchatfield commented on #275
@joefitzgerald sure, will do now

[2015-09-08 13:54] danielchatfield commented on #275
@joefitzgerald Works with go-plus disabled

[2015-09-08 13:56] danielchatfield commented on #275
I wonder if it is the same issue as this https://github.com/joefitzgerald/go-plus/pull/265/files

[2015-09-08 14:45] diegobernardes commented on #274
Thanks Joe!

[2015-09-08 21:59] DaveBlooman opened #277 "Autocomplete odd behaviour"
![auto](https://cloud.githubusercontent.com/assets/1492067/9748529/2d6539f6-567d-11e5-88ed-cdb1b3c4e684.gif)

I have just started using go-plus, I think the auto complete behaviour is incorrect for my machine.  I have seen others use autocomplete but typing `fmt` and then being offered a choice of options.  On my machine it seems autocomplete does work to some extent, but not as I would expect.

I

[2015-09-09 23:50] interlock commented on #226
Point me where to go to do this and I will make it happen :-)

[2015-09-10 10:19] daiwenxiamen opened #279 "Cant install go-plus on my Windows 10 x64edition laptop"
hello,here is  the  output of  the Atom below :
Installing “go-plus@3.5.1” failed.Hide output…
![default](https://cloud.githubusercontent.com/assets/9300896/9785912/7e7ffa58-57e8-11e5-9866-d61dcb2ce509.PNG)

gyp info it worked if it ends with ok
gyp info using node-gyp@2.0.2
gyp info using node@0.10.40 | win32 | ia32
gyp http GET https://atom.io/download/atom-shell/v0.22.0/node-v0.22.0.tar.gz
gyp

[2015-09-10 10:27] #279 closed

[2015-09-10 10:29] daiwenxiamen commented on #279
Sorry It can work now. Good job. Thanks

[2015-09-10 20:12] lazutkin commented on #277
same problem

[2015-09-11 06:27] lazutkin commented on #273
Try to update `Gocode` by `go get -u github.com/nsf/gocode`

[2015-09-11 06:28] lazutkin commented on #277
Try to update `Gocode` by `go get -u github.com/nsf/gocode`

[2015-09-11 08:22] Depado commented on #273
Thanks. I removed the GOROOT environment variable and it seemed to fix everything. I don't know why but it's fixed. Thanks for the tip.

[2015-09-11 08:22] #273 closed

[2015-09-11 14:20] syjiangrui commented on #277
update Gocode help me

[2015-09-11 14:25] DaveBlooman commented on #277
Thanks @lazutkin, that fixed the issue

[2015-09-11 14:25] #277 closed

[2015-09-13 15:27] adamclerk commented on #213
:thumbsup:

[2015-09-14 18:44] #275 closed

[2015-09-16 12:26] edmarriner commented on #12
+1

[2015-09-16 13:30] santagada opened #280 "Support metalinter"
go metalinter can run a bunch of linters in parallel, I guess it would be a nice addition to run it on save instead of only golint

repo for metalinter:
https://github.com/alecthomas/gometalinter

[2015-09-16 13:45] santagada commented on #232
Did you guys close the #go-plus room on slack?

[2015-09-17 17:03] zmb3 commented on #280
Duplicate of https://github.com/joefitzgerald/go-plus/issues/213

[2015-09-17 17:47] #280 closed

[2015-09-18 06:12] pobearm opened #281 "Need a GoBuild cmd"
I need a hot-key for go build my project, just build it no more else.
I hate build on save, i want control it my self.
And go1.5 is slower 2x than go1.4 on build.
It makes me crazy, thanks.

[2015-09-18 06:40] pobearm commented on #281
I use a plugin  : atom-build.
and a  config file:  .atom-build.json, save it in project folder,
it works for me.
{
  "cmd": "/usr/local/go/bin/go",
  "name": "go build",
  "args": ["build"],
  "sh": true,
  "cwd": "{PROJECT_PATH}",
  "env": {
    "GOROOT": "/usr/local/go",
    "GOPATH": "/Users/......."
  },
  "errorMatch": [
    "(?<file>[\\/0-9a-zA-Z\\._]+):(?<line>\\d+)"
  ],
  "keymap": "alt-c

[2015-09-18 12:46] santagada commented on #213
Great, have messages integrated with the line of the problem is way better than having them on a tool box, and the metalinter is the way to go for performance and completeness reasons.

Can other people send pull requests for this or is anyone active in fixing this?

[2015-09-18 19:37] dwlnetnl opened #282 "Cover doesn't work always"
I'm encountering an issue where cover coloring doesn't work always. In small packages it works, no problems. But in 2 cases no color shows up:
- Package that builds slowly because it's using C code using cgo.
- Package that is has a bunch of imports, also including the package which uses cgo, I just mentioned.

There are no compile errors and all tests pass.

Can anyone give some pointers to inves

[2015-09-19 19:53] steelbrain commented on #213
For the DIY people on here, it's super-simple to write a linter, see https://github.com/atom-community/linter/wiki/Linter-API and https://github.com/atom-community/linter/wiki/Migrating-to-the-new-API

[2015-09-19 19:56] joefitzgerald commented on #213
This is pending a rewrite of the core runtime detection in https://github.com/joefitzgerald/go-runtime, so that we don't end up with a litany of different ways this is done. While it's trivial to write a linter it is very non trivial to do so in a way that a user has a zero configuration experience based on their current environment. go-runtime will also pave the way for gb and the GO15VENDOREXPER

[2015-09-19 20:15] santagada commented on #213
Thank you @steelbrain I will look into that. @joefitzgerald go-runtime doesn't look very promising seeing that it hasn't been any commits for 5 months right? Is there anything we can help you with that then?

[2015-09-19 20:59] joefitzgerald commented on #213
@santagada it's because I haven't pushed the code that I have locally. For a period of time I was blocked on waiting for package-sets to be included in core (as I was the committer) but recently I decided to move ahead without package-sets as its such a large piece of work it will take time to ship. I will push new code there tomorrow, and I'd welcome the assistance.

[2015-09-21 04:56] domluna opened #283 "Doesn't pick up go installation"
The output I get in Atom

[code]

My GOPATH and GOROOT. Go is in my PATH as well.

[code]

I tried manually setting it and it didn't seem to work either.

I'm opening atom through the command line.

[2015-09-21 12:39] joefitzgerald commented on #283
Don't set your goroot. Where have you installed go? And have you launched atom from the command line?

[2015-09-21 15:57] domluna commented on #283
Ok I removed GOROOT, still doesn't work. I don't see why that's a problem since it's just a prefix for the go binaries in PATH, ex:

[code]

I have go installed in my $HOME directory, $HOME/go. I launch atom from the command line like so, `atom .`

[2015-09-21 19:21] santagada commented on #213
@joefitzgerald any news?

[2015-09-21 22:40] cupello commented on #12
+1

[2015-09-22 15:21] rscottfree commented on #271
This is not a go-plus issue, but a issue for the autocomplete package.

[2015-09-24 22:34] captncraig commented on #263
+1 for "run all tests this file", "run all tests this package", or even "run test under cursor"

[2015-09-26 20:38] marpio opened #285 "Uncaught TypeError: Cannot read property 'stdin' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Ubuntu 14.04.3
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.5.1

### Stack Trace

Uncaught TypeError: Cannot read property 'stdin' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-28 12:07] abduelhamit opened #286 "Uncaught Error: Cannot find module 'atom-message-panel'"
1. Update Atom
2. Update go-plus

**Atom Version**: 1.0.19
**System**: MRYEAH-PC
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.5.1

### Stack Trace

Uncaught Error: Cannot find module 'atom-message-panel'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-30 14:05] mastercactapus commented on #161
+1 the most useful part IMO is being able to add/remove imports without losing my place in the current file, it's hard to go back to that :)

[2015-10-01 09:37] Gouthamve commented on #207
+1

[2015-10-01 10:47] maxhille commented on #282
I am having the same issue running AppEngine tests.

* support for '-short' would be great
* I still would like to see coverage for the full suite. Maybe 1. run short 2. colorize 3. run full 4. colorize

Is there a way to see background process output from eg. go test while they are running in the background?

[2015-10-01 18:59] otm commented on #190
Type hinting is probably the one thing I miss the most. This is also very close to godoc support. Depending on how the UI is constructed.

[2015-10-01 19:52] philk commented on #190
What I'd actually love is something similar to GoInfo from vim-go where it shows the type info for the item under the cursor in the statusline:

![screen shot 2015-10-01 at 12 51 46 pm](https://cloud.githubusercontent.com/assets/29562/10232063/3b1d055e-683b-11e5-9e33-bf176d69d45b.png)

[2015-10-01 19:57] otm commented on #190
That is very nice. In atom that could be combined with links to definition and documentation.

[2015-10-04 12:41] abduelhamit commented on #286
Fixed it. Atom tried to find the file in `C:\Users\Abdﾃｼlhamit` instead of `C:\Users\Abdülhamit`.

The fix was easy:

    C:\Users>mklink /J Abdﾃｼlhamit Abdülhamit

[2015-10-04 12:41] #286 closed

[2015-10-06 09:59] thypon opened #288 "Uncaught SyntaxError: Unexpected token o"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: linux 4.1.9_1
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.5.1

### Stack Trace

Uncaught SyntaxError: Unexpected token o

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-06 17:42] atombender opened #289 "go-plus autocompletion cannot be disabled, and always overrides autocomplete-plus' built-in"
It's not possible to install `go-plus` without having it completely take over `autocomplete-plus` in Go files. It will no longer offer the same text-based completions, _only_ Go completions. I have tried setting the blacklist to `.source.go`, but that changes nothing. Is there a way?

[2015-10-06 17:57] joefitzgerald commented on #289
Yes, you can absolutely disable this behavior. Uncheck the "Suppress Built-In Autocomplete Plus Provider".

![screen shot 2015-10-06 at 11 53 16 am](https://cloud.githubusercontent.com/assets/744740/10317277/e1502b84-6c20-11e5-8594-4dec614d662b.png)

[2015-10-06 17:57] #289 closed

[2015-10-06 18:01] atombender commented on #289
That's not working for me. Also, the wording of that setting implies it will disable autocomplete-plus, not go-plus.

[2015-10-06 18:02] joefitzgerald commented on #289
You need to restart atom after unchecking that option.

[2015-10-06 18:24] atombender commented on #289
I did restart. I've enabled the suppress checkbox and restarted:

![screen shot 2015-10-06 at 14 23 24](https://cloud.githubusercontent.com/assets/50314/10318113/f19e853e-6c35-11e5-9ab9-358e1fa922f6.png)

(Note "Exec" doesn't offer "Execute".)

[2015-10-06 18:56] joefitzgerald commented on #289
Scroll down in the suggestion list. The AC+ suggestion list orders suggestions by the most specific provider to the least specific provider.

[2015-10-06 18:57] atombender commented on #289
It's only showing two matches.

[2015-10-06 19:45] turtleguyy opened #290 "No Go Installations Were Found"
Atom's complaining:

[code]

My `$GOPATH` is set up. I have Go v1.4.2 installed via boxen. Though I'm definitely using a non-standard go installation path, I've specified it in the go-plus settings page in Atom. And yes, I always open atom using the command line, from the project directory.

Never had any issues with go-plus until updating from Yosemite to El Capitan. Any chance the latest OS is t

[2015-10-06 20:01] joefitzgerald commented on #290
In general, you should avoid setting the path to the go installation, and instead:

* Set your path such that `which go` points to the go you want to use
* Launch atom from the terminal

There is also some weirdness with El Capitan and `/usr/local` (it changes ownership of it to `root:wheel`).

[2015-10-06 20:06] turtleguyy commented on #290
:+1:

Yep, making `which go` point to my go installation and clearing out the path in the settings seems to have cleared up the issue. Thanks!

[2015-10-06 20:06] #290 closed

[2015-10-06 20:07] joefitzgerald commented on #290
You're very welcome!

[2015-10-07 17:01] atombender commented on #289
Ideas?

[2015-10-08 09:58] nexcode commented on #286
module.js:336

Error: Cannot find module 'atom-message-panel'
    at Module._resolveFilename (module.js:334:15)
    at Function.Module._resolveFilename (C:\Users\Олег\AppData\Local\atom\app-1.0.19\resources\app.asar\src\module-cache.js:383:52)
    at Function.Module._load (module.js:284:25)
    at Module.require (module.js:363:17)
    at require (module.js:382:17)
    at Object.<anonymous> (C:\Use

[2015-10-08 10:20] nexcode opened #291 "Uncaught Error: Cannot find module 'atom-message-panel'"
**Atom Version**: 1.0.19
**System**: Windows 10
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.5.1

### Stack Trace

Uncaught Error: Cannot find module 'atom-message-panel'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-10 09:35] vigneshv34 opened #292 "go-plus"
how to install go-plus in my atom editor

[2015-10-10 09:36] vigneshv34 commented on #292
if i am click install shown error please give solutions

[2015-10-10 11:00] nexcode commented on #292
Install Git!

[2015-10-10 12:27] joefitzgerald commented on #292
@vigneshv34 it's hard to help you if you don't provide mode detailed information about the error you have received. Can you post a screenshot or the text of the error?

[2015-10-10 12:27] joefitzgerald commented on #291
Is this still an issue @nexcode?

[2015-10-10 12:31] joefitzgerald commented on #283
@domluna are you still having issues?

[2015-10-10 13:45] nexcode commented on #291
I rename user fonder. Now it contains only english characters.

[2015-10-10 18:43] domluna commented on #283
@joefitzgerald I haven't used Go as of late but I made the change back to zsh from fish shell. Just tested it and it's working now.

Not 100% sure it's a problem with fish but it might be.

[2015-10-10 21:15] #283 closed

[2015-10-10 21:15] #291 closed

[2015-10-12 12:10] poffe commented on #207
+1

And thanks so much for making Atom and Go such a nice fit!

[2015-10-12 22:24] therebelrobot opened #293 "Uncaught TypeError: go.buildgopath is not a function"
[Enter steps to reproduce below:]

1. While in go file, opened up command palette
2. Selected gofmt

**Atom Version**: 1.0.19
**System**: Mac OS X 10.10.5
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.5.1

### Stack Trace

Uncaught TypeError: go.buildgopath is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-15 00:56] johnjelinek opened #294 "How do I see the full function returns?"
When I see the suggestions pop up for functions, I like to see what they return. Often, when there are multiple return types `(something, error)`, I see an ellipses after the first type. How can I see the rest of the return type?

[2015-10-15 00:57] joefitzgerald commented on #294
This is caused by autocomplete-plus. It truncates suggestions after a character limit. One possible solution would be to provide a "more" link that can be used to see the full function definition.

[2015-10-15 04:33] johnjelinek commented on #294
I'm OK with a solution like that

—
Sent from Mailbox

On Wed, Oct 14, 2015 at 7:58 PM, Joe Fitzgerald <notifications@github.com>
wrote:

[2015-10-16 16:45] puneetguptanitj opened #295 "Uncaught TypeError: go.godef is not a function"
[Enter steps to reproduce below:]

1. pressed option + command + G

**Atom Version**: 1.0.19
**System**: Mac OS X 10.10.5
**Thrown From**: [go-plus](https://github.com/joefitzgerald/go-plus) package, v3.5.1

### Stack Trace

Uncaught TypeError: go.godef is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-17 14:44] jchannon commented on #254
:+1:

[2015-10-17 19:26] tarqe39 opened #296 "Language statements not autocompleted"
Hi, i have installed the plugin and autocomplete works well except for language statements such as return, language types such as int.
For loop for example is only a snippet. Is this normal behavior? Could it be that i havent installed gocode properly or something like that?

[2015-10-18 02:27] atrauzzi commented on #76
@campoy @joefitzgerald - Just been dipping my toes in go development on app engine and using the atom editor.

Unfortunately, every time I try to import from `appengine`, I get _Cannot find package "appengine"..._

I'm fairly certain this is related to everything I'm reading here, but I'm wondering if there's been any progress since January on these issues?  I'd love to be able to do go developmen

[2015-10-19 08:52] VitalySenko commented on #161
+1 That would be cool!

[2015-10-19 09:42] bahlo commented on #207
:+1:

[2015-10-19 10:48] bahlo commented on #207
I have a workaround that works great for me:

1. Install [atom-project-manager](https://github.com/danielbrodin/atom-project-manager).
2. Press `CMD+Shift+P` and run `Project Manager: Edit Projects`
3. Add your projects in the following format:

[code]
_Note: Only use absolute paths, relative paths are not supported by `go-plus`_

You can now switch projects using `CMD+CTRL+P` and it will automati

[2015-10-19 14:33] Gouthamve commented on #207
@bahlo Thanks! Now I don't see the annoying warning anymore.

[2015-10-19 17:21] campoy commented on #76
You should consider using the new appengine packages

https://godoc.org/google.golang.org/appengine

That will solve all your problems :)

On Sat, Oct 17, 2015 at 7:27 PM Alexander Trauzzi <notifications@github.com>
wrote:

[2015-10-19 18:10] joefitzgerald commented on #76
@campoy would this allow someone to stop using `goapp` and use the `go` as usual?

[2015-10-19 18:12] campoy commented on #76
That's a good question ... the answer is no.

goapp is still responsible for parsing app.yaml and other config files and
to start the webservers.
this will be the case even when we move to managed VMs, which are based on
dockerfiles.

On Mon, Oct 19, 2015 at 11:10 AM Joe Fitzgerald <notifications@github.com>
wrote:

[2015-10-19 18:19] atrauzzi commented on #76
Hm, I'm still noticing an issue where go complains about duplicate definitions.  Almost like as if it's got two GOPATHs?

[2015-10-19 18:22] campoy commented on #76
Completely unrelated issue here.

If there's more than one way to access an imported package goapp will
complain.
Try moving your app.yaml out of the root directory. Check this repo out
https://github.com/campoy/todo for an example

On Mon, Oct 19, 2015 at 11:20 AM Alexander Trauzzi <notifications@github.com>
wrote:

[2015-10-19 18:29] atrauzzi commented on #76
@campoy Thanks for the insight.  Based on that, is there any way for me to bundle `app.yaml` as part of the directory?  Reason being, that's obviously my `.git` root... ;)

[2015-10-19 18:46] derekperkins commented on #76
@joefitzgerald For everything related to go-plus, using the new appengine packages completely eliminates the need for goapp.

[2015-10-19 19:00] campoy commented on #76
Wooohoo!

On Mon, Oct 19, 2015 at 11:46 AM Derek Perkins <notifications@github.com>
wrote:

[2015-10-19 19:07] joefitzgerald commented on #76
@derekperkins wonderful! So you're saying that https://github.com/joefitzgerald/go-runtime/blob/e5534d1e72a3b410452d8e863925f2b7f8096dd5/lib/locator.js#L23 is effectively not required anymore?

As you can see I'm going through a major rewrite of go-plus, and this will be a helpful simplification :smile:.

[2015-10-19 19:11] campoy commented on #76
I'm saying that that fix is not needed for everybody using the new packages.
And the only reason to keep using the old packages is because your codebase
is already big enough that a big rewrite would be painful.

So yeah, probably not many go-plus users care about it anymore :)

On Mon, Oct 19, 2015 at 12:07 PM Joe Fitzgerald <notifications@github.com>
wrote:

[2015-10-19 19:11] atrauzzi commented on #76
Wait, so if I am starting a new project, what do I have to do?

[2015-10-19 19:14] joefitzgerald commented on #76
@atrauzzi so if I'm reading this right, start your new project, use the new library that @campoy linked to, but use `go` and not the `goapp` exectuable to actually run `go build`, `go test`, etc.

[2015-10-19 19:15] campoy commented on #76
The plan is:
- import "google.golang.org/appengine"
- ?
- profit

(https://www.youtube.com/watch?v=tO5sxLapAts)

[2015-10-19 19:16] atrauzzi commented on #76
@campoy Haha, I meant for the local development server.  What do I run to try my app out from inside of my package?

[2015-10-19 19:16] campoy commented on #76
No, use `goapp`, not `go`.

On Mon, Oct 19, 2015 at 12:14 PM Joe Fitzgerald <notifications@github.com>
wrote:

[2015-10-19 19:18] atrauzzi commented on #76
Okay, so when I use `goapp` though, I'm getting the error of duplicated names mentioned earlier.  Is there no way I can bundle `app.yaml` with my sources?

[2015-10-19 19:21] campoy commented on #76
Expanded answer:

1. write some App Engine app:

[code]

2. write your app.yaml

[code]

3. serve locally:

[code]

[2015-10-19 19:22] campoy commented on #76
@atrauzzi: create a new directory `app` where you'll have your `app.go` and `app.yaml` files which then import other packages.

[2015-10-19 19:24] atrauzzi commented on #76
@campoy Is this directory outside of my GOPATH?

[2015-10-19 19:25] campoy commented on #76
no

On Mon, Oct 19, 2015 at 12:24 PM Alexander Trauzzi <notifications@github.com>
wrote:

[2015-10-19 19:27] campoy commented on #76
GOPATH
- github.com
  \- username
     \- reponame
        |- app
        |   |- app.yaml
        |   \- app.go
        \- pkg
           |- other packages imported by app.go

On Mon, Oct 19, 2015 at 12:25 PM Francesc Campoy Flores <campoy@google.com>
wrote:

[2015-10-19 19:28] atrauzzi commented on #76
Oh, you can do that structure even inside of a package?  Well isn't that fancy!  #TIL

[2015-10-19 20:16] derekperkins commented on #76
@joefitzgerald I don't think you should remove that yet. I don't have any inside info, but from a heavy appengine user, here's the current situation in a nutshell:

 - App Engine has their classic setup that works with either `"appengine/..."` or `"google.golang.org/appengine/..."`. It runs on an internal container implementation with a lot of restrictions.
 - They also have their Managed VM setup

[2015-10-21 15:18] binary132 commented on #218
Any word on this?

[2015-10-21 15:49] joefitzgerald commented on #218
Yep, still progressing. You can watch along here: https://github.com/joefitzgerald/go-runtime/pull/1

[2015-10-21 21:36] ae6rt commented on #214
I'm using go-plus version 3.5.1, and find that Command-option-G works, but the menu item does not.

[2015-10-22 17:18] nfarina commented on #282
@maxhille Glad I noticed your post - I thought coverage wasn't working at all but now I notice the `go` executable being spun up in the background and disappearing too early (my tests take a lot of time since App Engine must start up a local instance of the dev server).

Would love if go-plus could wait longer for `go test` to execute - progress as well would be really great.

Overall though go-pl

[2015-10-25 09:40] dvdplm commented on #158
Same here. Had gocode installed in `/usr/local/bin` and it's a daemon so even after removal Atom auto-completion didn't work. So for me the fix was:

  - `kill -9` the running gocode
  - remove the installed binary in `/usr/local/bin/gocode`
  - start atom with `atom .`
  - Let go-plus do it's thing selecting "Get Missing Tools"

:)

[2015-10-26 09:53] ulrichSchreiner commented on #207
hi,

if you have a gb-project directory you can use my docker-container (https://github.com/ulrichSchreiner/atocker) which starts an atom with a go-plus and many go-tools inside. The state of the atom will be stored in the `.atocker` subdirectory (but you can change this when defining the alias for the command).  Inside the container the GOPATH is configured to contain the `vendor` subdirectory be

[2015-10-26 10:45] jchannon commented on #91
:+1: for this featuer

[2015-10-28 08:32] RaviTezu opened #297 "gofmt tool is not working, when saving the file"
Hi,

- [X] Run Format Tool on Save
- Run the configured format tool each time a file is saved.

I have configured the "Format Tool" to gofmt.
This option doesn't seem to be working. I also, tried selecting the whole code and then click on Packages > Go Plus > Format File and it seems to be working sometimes and not working sometimes. I am using Atom 1.0.19 version on Ubuntu 15.10.

Thanks,
Ravi

[2015-10-28 08:52] RaviTezu commented on #297
Specifically, It doesn't work for the following code:
[code]
and when I save the file, it says:

[2015-10-28 09:30] dnascimento commented on #12
+1

[2015-10-28 12:32] jchannon commented on #297
Put the else on the same line as the closing bracket if the if

[2015-10-28 13:10] RaviTezu commented on #297
@jchannon Thanks. I knew that.
But looks like "gofmt" is not doing that. So, its not a bug with the go-plus. Closing this.

[2015-10-28 13:10] #297 closed

[2015-10-28 13:15] zmb3 commented on #12
I have implemented this in my fork.  I'm just really bad at writing specs.  Maybe someone can help me wrap it up.

[2015-10-28 14:39] joefitzgerald commented on #12
@zmb3 perhaps you and I could pair on the specs? When would be good for you?

[2015-10-28 16:29] jchannon commented on #254
I just had a quick look at how to implement this but my coffee skills are non-existant and I was a bit bamboozled :smile: For now I guess I'll use Gulp to watch files and then run a go install when they change

[2015-10-28 19:29] zmb3 commented on #12
Should be mostly free on Saturday.